@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
$blue-text:#4BADED;
$text:#313131;
$text-alpha:#7A8287;
$gradient-color: linear-gradient(90deg, #2F7DF7 0%, #0AE5FF 100%);
$border:#E8E8E8;
$bg-gray: #F5F8FA;

.header-mobile{
    display: none;
}
@media only screen and (max-width: 1601px){

    h1{
        font-size: 60px;
        font-weight: 900;
    }
    h2{
        font-size: 34px;
        font-weight: 700;
    }
    h3{
        font-size: 28px;
        font-weight: 600;
    }
    h4{
        font-size: 24px;
        font-weight: 600;
    }
    h5{
        font-size: 20px;
        font-weight: 600;
    }
    h6{
        font-size: 18px;
        font-weight: 600;
    }
    p{
        font-size: 15px;
    }
    strong, b, span, i, label{
        font-size: 14px;
    }
}
@media only screen and (max-width: 1400px) {
    .section-Features-appreciate .tabs-features-appreciate nav .nav.nav-tabs a {
        font-size: 14px;
    }
    h1{
        font-size: 50px;
        font-weight: 900;
    }
    h2{
        font-size: 28px;
        font-weight: 700;
    }
    h3{
        font-size: 22px;
        font-weight: 600;
    }
    h4{
        font-size: 18px;
        font-weight: 600;
    }
    h5{
        font-size: 16px;
        font-weight: 600;
    }
    h6{
        font-size: 15px;
        font-weight: 600;
    }
    p{
        font-size: 14px;
    }
    strong, b, span, i, label{
        font-size: 13px;
    }
    .numbers-countdown label {
        padding-top: 0px;
    }
    header{
        .width-menu {
            width: 95%;
            margin: auto;
        }
    }

    

    
    /* ========================= Section Trusted By Top Brands =========================  */
.top-brands{
	.title-page{
		h2{
			font-weight: 600 ;
		}
		p{
			font-weight: 400;
			max-width: 700px;
			margin: auto;
		}
	}
	.hleft-hright{
		display: flex;
    	justify-content: space-between;
		align-items: center;
		.hleft, .hright{
			padding-top: 180px;
			max-width: 366px;
			img{
				max-width: 100%;
			}
		}
		.hmain{
			.item-main{
				display: flex;
				.item-list{
					width: 150px;
					height: 150px;
					text-align: center;
					border: 4px solid #4BADED;
					margin: 20px;
					padding: 20px;
					border-radius: 50%;
					&:nth-child(2){
						margin-top: 80px;
					}
					&:nth-child(3){
						margin-top: -41px;
					}
					h1{
						font-size: 40px;
						font-weight: 700;
						color: $blue-text;
						padding-top: 5px;
						span{
							font-size: 20px;
						}
					}
					p{
						font-size: 13px;
                        font-weight: 500;
					}
				}
			}
		}
	}
	.logo-tops-brands{
		max-width: 1078px;
		margin: auto;
	}
}
/* ========================= Section banner ===================== */
.section-banner-top{
	.item-slider{
		.slider-PC{
			width: 100%;
			display: block;
		}
		.body-content-slider {
			position: absolute;
			width: 100%;
			left: 0;
		}
		.content-slider{
   			display: inline-block;
		}
		.slide-MB {
			display: none !important;
		}
	}
}
}
@media only screen and (max-width: 1201px) {
    .stop-solution-package .tabs-list-bill .content-prices-year .box-bill .basic-bill {
        padding: 30px;
    }
    .kompa-can-help-content{
        margin: 0 !important;
    }
    h1 {
        font-size: 40px;
        font-weight: 900;
    }
        .menu {
            nav ul li a{
                padding: 0 10px;
                font-weight: 500;
                font-size: 14px;
            }
        }
        
        /* ========================= Section Trusted By Top Brands =========================  */
.top-brands{
	.title-page{
		h2{
			font-weight: 600 ;
		}
		p{
			font-weight: 400;
			max-width: 700px;
			margin: auto;
		}
	}
	.hleft-hright{
		display: flex;
    	justify-content: space-between;
		align-items: center;
		.hleft, .hright{
			padding-top: 180px;
			max-width: 366px;
			img{
				max-width: 100%;
			}
		}
		.hmain{
			.item-main{
				display: flex;
				.item-list{
					width: 140px;
					height: 140px;
					text-align: center;
					border: 4px solid #4BADED;
					margin: 20px;
					padding: 10px;
					border-radius: 50%;
					&:nth-child(2){
						margin-top: 80px;
					}
					&:nth-child(3){
						margin-top: -31px;
					}
					h1{
						font-size: 30px;
						font-weight: 700;
						color: $blue-text;
						padding-top: 15px;
						span{
							font-size: 20px;
						}
					}
					p{
						font-size: 13px;
                        font-weight: 500;
					}
				}
			}
		}
	}
	.logo-tops-brands{
		max-width: 100%;
		margin: auto;
        margin-top: 30px;
        .row{
            width: 100%;
            justify-content: center;
            .col-md-2{
                max-width: fit-content;
            }
        }
	}
}
/* --------------------------- Career Detail ------------------------------- */
.section-banner{
    text-align: left;
    .head-detail{
        padding: 50px 0;
        text-align: left;
        .content-banner{
            position: relative;
            width: 100%;
            max-width: 100%;
            left: 0;
            h1{
                text-align: left;
                color: $blue-text;
            }
            ul{
                margin: 30px 0;
                li{
                    display: inline-flex;
                    align-items: center;
                    line-height: 22px;
                    color: $text-alpha;
                    padding-right: 20px;
                    img{
                        height: 20px;
                        padding-right: 5px;
                    }

                }
            }
        }
    }
}
/* ========================= Section banner ===================== */
.section-banner-top{
	.item-slider{
		.slider-PC{
			width: 100%;
			display: block;
		}
        .search-blogs {
            height: 61px;
        }
        .search-blogs img {
            top: 16px;
        }
		.body-content-slider {
			top: 2%;
			position: absolute;
			width: 100%;
			left: 0;
		}
		.content-slider{
			width: 530px;
   			display: inline-block;
		}
		.slide-MB {
			display: none !important;
            width: 100%;
		}
	}
}
.content-head .logo img {
    padding: 0px 0;
    max-height: 36px;
}
.menu nav ul li a {
    padding: 0 10px;
    font-weight: 500;
    font-size: 12px;
}
.menu nav ul > li > a::before{
    top: 0;
}
.btn-common {
    display: inline-block;
    background: transparent;
    padding: 10px 32px;
    color: white;
    text-align: center;
    transition: all .3s ease-in-out;
    font-size: 14px;
    border: 1.5px solid #4BADED;
    color: #4BADED;
    text-transform: uppercase;
    border-radius: 2px;
}
.Section-form-sign-up .row .form-sign-up .form-lienhe .button-submitform .btn-common-site {
    border: 1.5px solid #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}
}
@media only screen and (max-width: 950px) {
    .table-customizable{
        overflow-x: auto;
        th{
            font-size: 18px !important;
        }
        td, th{
            padding: 10px 15px !important;
        }
        h6{
            font-size: 16px !important;
        }
        p{
            font-size: 14px !important;
        }
    }
    .pr-100{
        padding-right: 15px;
        margin-bottom: 20px;
    }
    .future-automation .right-news h1 {
        -webkit-line-clamp: 400;
        margin-top: 15px;
    }
    .date-location{
        nav{
            .container{
                overflow-x: auto;
            }
        }
    }
    .item-works{
        text-align: center;
        background: #FFFFFF;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
border-radius: 2px;
padding: 30px 20px 20px 20px;
        margin-bottom: 20px;
    }
    .item-news-right{
        .row{
            flex-direction: column-reverse;
            .content-infor{
                margin-top: 15px;
            }
        }
    }
    .col-md-9{
        .item-news-right{
            .row{
                flex-direction:initial;
                .content-infor{
                    margin-top: 15px;
                }
            }
        }
    }
    .section-career-detail .mt-70 {
        margin-top: 0px;
    }
    .section-career-detail .date-location {
        display: inline-block;
        padding: 10px 15px;
        padding-top: 6px;
        b{
            display: inline-block;
            width: 100%;
            padding: 0%;
            i{
                margin: 0 !important;
            }
        }
    }
    .pl-100{
        padding-left: 15px;
        margin-bottom: 20px;
    }
    .about-us-pic{
        margin-bottom: 20px;
    }
    
    .content-top-brands{
        background: white !important;
    }
    .section-main-category .detail-main-product .icon-item {
        padding: 10px 0;
    }
    header {
        background: white;
    }
    .phone-call {
        display: inline-block;
    }
    .section-banner-top .item-slider .body-content-slider .container {
        max-width: 100%;
    }
    .top-brands .hleft-hright .hmain .item-main .item-list h1 {
        font-size: 20px;
        font-weight: 700;
        color: #4BADED;
        padding-top: 15px;
        width: 54px !IMPORTANT;
        text-align: right !important;
    }
    .top-brands .hleft-hright .hmain .item-main .item-list h1 {
        font-size: 29px !important;
        font-weight: 700 !important;
        color: #4BADED;
        padding-top: 26px !important;
    }
    .numbers-countdown label {
        font-size: 20px !important;
        color: #4BADED;
        padding-top: 26px;
        font-weight: 600;
    }
    .item-list {
        width: 130px !important;
        height: 130px !important;
    }
    .item-main{
        flex-wrap: wrap;
    }
    .item-list{
        width: 50%;
    }
    .section-Features-appreciate .tabs-features-appreciate nav .nav.nav-tabs a {
        font-size: 16px;
    }
    .numbers-countdown label {
        font-size: 12px;
    }
    .content-site{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    header .width-menu {
        width: 100%;
    }
    .hinh-anh-Social{
        img{
            margin-top: 20px;
        }
    }
    .section-data-coverage, .section-customize{
        .row{
            flex-direction: column-reverse;
        }
    }
    .system-operation{
        flex-direction: column-reverse;
    }
    .stop-solution-package,.section-webinars-event{
        padding-bottom: 0;
    }
    .Section-form-sign-up{
        .pic-height-mb{
            background: none !important;
            min-height: initial !important;
        }
    }
    .section-main-category{
        &.gray{
            .row{
                flex-direction: column-reverse !important;
            }
        }
    }
    .list-news-left-ad{
        flex-direction: column-reverse;
        display: flex;
        .list-news-left{
            margin-top: 20px;
        }
    }
    .section-career-detail .info-right{
        margin-top: 30px;
    }
    .pd-left{
        padding-left: 0;
    }
    .menu nav ul li{
        &:nth-last-child(1), &:nth-last-child(2){
            display: none;
        }
    }
    .section-banner-top .item-slider .content-slider p {
        font-size: 14px;
    }
    .core-values-total{
        padding-top: 30px;
    }
    .section-main-category .row .col-md-6{
        padding: 0 15px;
    }
    .pic-height-mb{
        min-height: 523px;
    }
    .content-head .logo img {
        padding: 5px 0;
        max-height: 50px;
    }
    .menu nav ul li a {
        padding: 0 10px;
        font-weight: 500;
        font-size: 12px;
    }
    br{
        display: none;
    }
    .news-page .news .left-news .list-news-left a h4{
        line-height: 38px;
    }
    .width-100{
        -ms-flex: 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
    .owl-next span, .owl-prev span{
		top: 25% 
	}
    .language{
        display: block;
        margin-top: 15px;
        margin-right: 35px;
    }
	.header-mobile {
        display: flex;
        position: fixed;
        top: 21px;
        opacity: 1;
        right: 15px;
       i{
           font-size: 22px;
       }
       .languages{
        margin-right: 60px;
        margin-top: -2px;
       }
    }
    .Section-form-sign-up .row .form-sign-up{
        width: 100%;
        max-width: 100%;
    }
    .stop-solution-package .tabs-list-bill .content-prices-year .box-bill {
        margin-bottom: 30px;
    }
    .webinars-event{
        margin-bottom: 30px;
    }
    header{
        .content-head {
            .logo img {
                height: 60px;
            }
            nav {
                position: fixed;
                width: 100%;
                display: none;
                box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
                background: white;
                top: 50px;
                left: 0;
                ul {
                    display: inline-block;
                    width: 100%;
                    padding: 0 !important;
                    margin: 0 !important;
                    li {
                        width: 100%;
                        float: left;
                        margin: 10px 0;
                        a{
                            font-size: 14px;
                        }
                        /*&:last-child{
                            display: none;
                        }*/
                    }
                   
                    
                }
                
            }
        }
        &.active{
            nav{
                display: inline-block !important;
            }
            .menu-mobile{
                i{
                    &::before{
                        content: "\e646";
                        font-family: 'themify';
                    }
                }
            }
        }
    }
    .content-head .menu nav>ul>li.submenu{
        width: 100%;
    }
    .content-head .menu nav>ul>li.submenu>ul {
        justify-content: center;
        margin-bottom: 0;
        width: 100%;
        z-index: 1;
    }
    .content-head .menu nav>ul>li.submenu>ul>li{
        width: 100%;
        display: block !important;
    }
    /* ========================= Section Trusted By Top Brands =========================  */
.top-brands{
	.title-page{
		h2{
			font-weight: 600 ;
		}
		p{
			font-weight: 400;
			max-width: 700px;
			margin: auto;
		}
	}
	.hleft-hright{
		display: flex;
    	justify-content: space-between;
		align-items: center;
        .hmain{
            width: 100%;
            justify-content: center;
        }
		.hleft, .hright{
			padding-top: 180px;
			max-width: 366px;
            display: none;
			img{
				max-width: 100%;
			}
		}
		.hmain{
			.item-main{
				display: flex;
                justify-content: center;
				.item-list{
					width: 140px;
					height: 140px;
					text-align: center;
					border: 4px solid #4BADED;
					margin: 20px;
					padding: 10px;
					border-radius: 50%;
                    
					&:nth-child(2){
						margin-top: auto;
					}
					&:nth-child(3){
						margin-top: auto;
					}
					h1{
						font-size: 30px;
						font-weight: 700;
						color: $blue-text;
						padding-top: 15px;
						span{
							font-size: 20px;
						}
					}
					p{
						font-size: 13px;
                        font-weight: 500;
					}
				}
			}
		}
	}
	.logo-tops-brands{
		max-width: 100%;
		margin: auto;
        margin-top: 30px;
        .row{
            width: 100%;
            justify-content: center;
            .col-md-2{
                max-width: fit-content;
            }
        }
	}
}
   
/*-------------------------------------- Section The future works -------------------------------*/
.section-the-future-works{
    .title-page{
        h2{
            font-weight: 700;
        }
        p{
            width: 100%;
            margin: auto;
            text-align: center;
            font-weight: normal;
        }
    }
    .item-works{
        img{
            height: 80px;
        }
        h6{
            font-weight: 600;
            padding: 20px 0;
            margin: 0;
        }
        p{
            display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				overflow: hidden;
        }
        
    }
    .core-values{
            p{
                width: 100%;
            }
            .pic-left-core-values{
                img{
                    max-width: 100%;
                }
            }
            .core-values-total{
                .core-item{
                    display: flex;
                    align-items: center;
                    margin-bottom:25px;
                    p{
                        padding: 0;
                        padding-left: 12px;
                        margin: 0;
                        font-weight: 600;
                    }
                }
            }
    }
} 
/* ========================= Section banner ===================== */
.section-banner-top{
	.item-slider{
		.slider-PC{
			width: 100%;
			display: block;
		}
		.body-content-slider {
			top: 6px;
			position: absolute;
			width: 100%;
			left: 0;
		}
		.content-slider{
			width: 660px;
   			display: inline-block;
		}
		.slide-MB {
			display: none !important;
            width: 100%;
		}
	}
}
.section-banner-top .item-slider .search-blogs {
    height: 51px;
}
.section-banner-top .item-slider .search-blogs img {
    top: 11px;
}

    .content-case-studies-detail {
        max-width: 100%;
        margin: auto;
        text-align: center;
        width: 100%;
        padding: 15px;
    }
    .section-category .content-right-report {
        padding-left: 0;
        border: none;
    }
    .news-page .news .right-news{
        padding-left: 0;
    }
    .menu nav ul > li > button.book-meeting {
        margin-left: 10px;
    }
}
@media only screen and (max-width: 768px) {
    .search-blogs{
        max-width: 100% !important;
    }
    .section-our-commitment .item .item-description p {
        -webkit-line-clamp: 111111;
    }
    .form-here{
        padding-bottom: 20px;
    }
    .form-here .form-lienhe{
        padding: 25px;
        min-height: initial;
    }
    .section-case-studies .p30{
        padding: 15px;
    }
    .popup-modal .modal-header .close{
        right: 10px;
    }
    .Section-form-sign-up .row .form-sign-up{
        padding: 15px;
    }
    .Section-digital-data-center-solution .btn-common-site-2 {
        font-size: 14px;
        padding: 13px 30px;
        background: #B2E151;
    }
    .section-banner-top .item-slider .content-slider h1{
        padding-top: 30px;
        br{
            display: none;
        }
    }
    .Section-form-sign-up .row .form-sign-up{
        max-width: 100%;
    }
    .item-list-category .button-category .btn-action .btn-common {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        font-weight: 600;
    }
    .owl-next span {
        width: 50px;
        font-size: 0px;
        color: white;
        height: 50px;
        background: url(../images/next-slide.svg) no-repeat center top;
        display: inline-block;
        position: absolute;
        top: 40%;
        background-size: cover;
        right: 0px;
    }
	.owl-next span, .owl-prev span {
		top: 40% 
	}

    section{
        padding: 40px 0;
    }
    .title-section {
        font-size: 26px;
        a img{
            height: 25px;
        }
    }


    .video-cans {
        margin-top: 20px;
        iframe {
            height: 300px !important;
        }
    }

    .contact-section {
            height: inherit;
        
        .title-section h2 {
            font-size: 26px;
            }   
        .form-contact{
            form.mt-30{
                margin-top: 10px;
            }
            .button-submitform {
                margin-top: 20px;
            }
        }    
    }
    
    footer{
        padding: 50px 0;
        .infor-footer.p30{
            padding: 30px 0;
            a{
                margin: 0 10px 0 0;
                font-size: 13px;
            }
        }
    }
    .text-right-description{
        padding: 15px 0;
        margin-bottom: 0;
    }
    .section-cans-story{
        .item-cans-story{
            .icon-cans-story{
                width: 120px;
                height: 120px;
            }
        }
       .title-des {
            padding-left: 139px;
}
    }
    .section-lien-he .thong-tin-lien-he{
        display:block;
    }
    .section-lien-he .thong-tin-lien-he .content-hotline {
        padding-bottom: 30px;
    }
    .section-lien-he{
        padding: 0;
    }
    .img-privacy{
        width: 100%;
        margin: auto;
        text-align: center;
        padding: 15px;
        padding-bottom: 30px;
        img{
            max-width: 100%;
        }
    }
    .content-privacy-policy{
        width: 100%;
        margin: auto;
        padding: 15px;
    }
    .section-can-making-process{
        .Can-making{
            width: 100%;
            img{
                max-width: 100%;
                width: 100%;
            }
        }
    }
    .section-product-design {
        width: 100%;
        .list-item-pd{
            width: 100%;
            ul {
                li{
                    p{
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .pagging-page ul li a, .pagging-page ul li span{
        margin: 0 3px;
        margin-bottom: 20px;
    }
    .line-pc{
        display: none;
    }
    
   /* ========================= Section Trusted By Top Brands =========================  */
.top-brands{
	.title-page{
		h2{
			font-weight: 600 ;
		}
		p{
			font-weight: 400;
			max-width: 700px;
			margin: auto;
		}
	}
	.hleft-hright{
		display: flex;
    	justify-content: space-between;
		align-items: center;
		.hleft, .hright{
			padding-top: 180px;
			max-width: 366px;
            display: none;
			img{
				max-width: 100%;
			}
		}
		.hmain{
			.item-main{
				display: flex;
				.item-list{
                    width: 89px;
                    height: 89px;
                    text-align: center;
                    border: 4px solid #4BADED;
                    margin: 5px;
                    padding: 1px;
                    border-radius: 50%;
					&:nth-child(2){
						margin-top: 0;
					}
					&:nth-child(3){
						margin-top: 0;
					}
					h1{
						font-size: 20px;
						font-weight: 700;
						color: $blue-text;
						padding-top: 15px;
						span{
							font-size: 20px;
						}
					}
					p{
						font-size: 9px;
                        padding: 0 10px;
                        font-weight: 500;
					}
				}
			}
		}
	}
	.logo-tops-brands{
		max-width: 100%;
		margin: auto;
        .col-md-2{
            max-width: auto;
        }
	}
}
.section-Features-appreciate{
    .tabs-features-appreciate{
        nav{
            .nav.nav-tabs{
                display: block;
                text-align: left;
            }
        }
    }
}
.think-customer .cam-nhan-khach-hang .content-cam-nhan{
    width: 100%;
}
.img-news-left {
    position: initial;
    right: 0;
    width: 100%;
    top: 0;
}
.news-page .news .left-news .list-news-left-ad {
    position: relative;
    padding-right: 0;
    margin-bottom: 20px;
}
.nav-pills .nav-link{
    background-color: white;
    border: 1px solid $blue-text;
    color: $blue-text;
    border-radius: 0;
    padding: 13px 33px !important;
}
footer .link-footer .box-link-food {
    display: block;
    ul {
        width: 100%;
        text-align: left;
    }
}
.btn-common-site-1{
    display: inline-block;
    background: transparent;
    padding: 10px 0;
    color: white;
    text-align: center;
    transition: all .3s ease-in-out;
    font-size: 14px;
    border: 1.5px solid white;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 20px;
    margin-right: 0px;
    width: 80%;
    margin-bottom: 10px;
}
.btn-common-site-2 {
    display: inline-block;
    background: #85C86F;
    padding: 7px 50px 5px 50px;
    color: white;
    text-align: center;
    transition: all .3s ease-in-out;
    font-size: 18px;
    border: 0;
    text-transform: uppercase;
    font-weight: 700;
    width: 80%;
}
.stop-solution-package .tabs-list-bill .content-prices-year .box-bill .prices-year-month .btn-action .btn-common-site{
    width: 80%;
}
.section-kompa-can-help .kompa-can-help-content .btn-action .btn-common-site-2 {
    font-size: 14px;
    font-weight: 300;
    background: #B2E151;
    display: inline-flex;
    align-items: center;
    padding: 10px 37px;
    justify-content: center;
}

/* ========================= Section banner ===================== */
.section-banner-top{
	.item-slider{
		.slider-PC{
			width: 100%;
			display: none;
		}
		.body-content-slider {
            top: 0;
            width: 100%;
            left: 0;
            height: initial;
            padding-top: 40px;
		}
		.content-slider{
			width: 100% !important;
            display: inline-block !important;
            padding: 0 15px !important;
            padding-top: 30px !important;
            text-align: center;
            h1{
                font-size: 24px;
            }
		}
		.slide-MB {
			display: block !important;
            width: 100%;
		}
	}
}
.section-career-opportunities .search-quick{
    display: block;
}
.section-career-opportunities .search-quick .search{
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.section-career-opportunities .search-quick select {
    width: 60%;
    padding: 12px;
    margin: 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.section-career-opportunities .search-quick button {
    padding: 10px;
    border: 1px solid #B2E151;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    background: #B2E151;
    color: white;
    width: 38%;
}
.section-career-opportunities .pagging-page ul li a, .section-career-opportunities .pagging-page ul li span{
    margin: 0 5px;
}
/* --------------------------- Career Detail ------------------------------- */
.section-banner{
    text-align: left;
    .head-detail{
        padding: 50px 0;
        text-align: left;
        .content-banner{
            position: relative;
            width: 100%;
            max-width: 100%;
            left: 0;
            .btn-common-site{
                padding: 14px 77px;
            }
            h1{
                text-align: left;
                color: $blue-text;
            }
            p{
                max-width: 100%;
            }
            ul{
                margin: 30px 0;
                li{
                    display: block;
                    align-items: center;
                    line-height: 22px;
                    color: $text-alpha;
                    padding-right: 20px;
                    text-align: left;
                    margin-bottom: 15px;
                    img{
                        height: 20px;
                        padding-right: 5px;
                    }

                }
            }
        }
    }
}

.list-function{
    max-width: 100%;
}
.form-here .img-lienhe{
    img{
        width: 100%;
    }
}
.section-career-detail.section-webinars-event .nav-tabs .nav-link{
    padding: 0 10px;
}
.section-Features-appreciate{
    .tabs-features-appreciate{
        nav{
            overflow-x: scroll;
            .nav.nav-tabs{
                display: inline-flex;
                a{
                    white-space: nowrap;
                }
            }
        }
    }
}
img.icon-title {
    width: 120px !important;
    position: absolute;
    top: 21px;
    left: 225px;
}
}

@media only screen and (max-width: 320px) {
    .title-section a img {
        height: 19px;
        margin: 0 10px 5px 10px;
    }
    .section-recycle-program .row .col-md-3 {
        -ms-flex: 0 0 100%;
        flex: 100%;
        max-width: 100%;
    }

    
    .list-item-about{
        ul{
            li{
                display: inherit;
                text-align: center;
                img{
                    position:initial;
                }
                p{
                    padding: 0;
                    padding-top: 15px;
                }
            }
        }
    }
    .content-about{
        .title-page{
            padding: 0;
            h1{
                font-size: 36px;
            }
        }
        }
        /* --------------------------- Career Detail ------------------------------- */
.section-banner{
    text-align: left;
    .head-detail{
        padding: 50px 0;
        text-align: left;
        .content-banner{
            position: relative;
            width: 100%;
            max-width: 100%;
            left: 0;
            .btn-common-site{
                padding: 14px 77px;
            }
            h1{
                text-align: left;
                color: $blue-text;
            }
            p{
                max-width: 100%;
            }
            ul{
                margin: 30px 0;
                li{
                    display: block;
                    align-items: center;
                    line-height: 22px;
                    color: $text-alpha;
                    padding-right: 20px;
                    text-align: left;
                    img{
                        height: 20px;
                        padding-right: 5px;
                    }

                }
            }
        }
    }
}

}