@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap");
/* --------------------------- Pagging ------------------------------- */
.pagging-page {
  width: 100%; }
  .pagging-page .pagination {
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0; }
  .pagging-page ul li {
    border-bottom: none !important; }
    .pagging-page ul li a,
    .pagging-page ul li span {
      width: 32px;
      height: 32px;
      margin: 0 10px;
      text-align: center;
      font-size: 14px;
      display: inline-block;
      text-decoration: none;
      color: #313131;
      padding: 5px;
      font-weight: normal !important;
      justify-content: center !important; }
      .pagging-page ul li a.active,
      .pagging-page ul li span.active {
        border: 1px solid #4BADED !important;
        color: #4BADED;
        background-color: white;
        padding-top: 5px; }
    .pagging-page ul li:hover a {
      color: #4BADED; }

/*-------------------------------------- Section The future works -------------------------------*/
.section-the-future-works .title-page h2 {
  font-weight: 700; }
.section-the-future-works .title-page p {
  width: 780px;
  margin: auto;
  text-align: center;
  font-weight: normal; }
.section-the-future-works .item-works img {
  height: 80px; }
.section-the-future-works .item-works h6 {
  font-weight: 600;
  padding: 20px 0;
  margin: 0; }
.section-the-future-works .item-works p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden; }
.section-the-future-works .core-values p {
  width: 100%; }
.section-the-future-works .core-values .pic-left-core-values img {
  max-width: 100%; }
.section-the-future-works .core-values .core-values-total .core-item {
  display: flex;
  align-items: center;
  margin-bottom: 65px; }
  .section-the-future-works .core-values .core-values-total .core-item p {
    padding: 0;
    padding-left: 12px;
    margin: 0;
    font-weight: 600; }

.page-detail-body .head-detail {
  padding-top: 150px !important; }

/*-------------------------------------- Section Career opportunities -------------------------------*/
.section-career-opportunities {
  float: left;
  width: 100%;
  background-color: #F5F8FA; }
  .section-career-opportunities .title-page h2 {
    font-weight: 600; }
  .section-career-opportunities .title-page p {
    font-weight: normal; }
  .section-career-opportunities .search-quick {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .section-career-opportunities .search-quick .search {
      width: 70%;
      background: white;
      padding: 10px;
      border-radius: 2px;
      border: 1px solid #ccc; }
      .section-career-opportunities .search-quick .search span {
        padding: 0 5px 0 0;
        width: 20px; }
        .section-career-opportunities .search-quick .search span::before {
          color: #7A8287; }
      .section-career-opportunities .search-quick .search input {
        border: none;
        width: 95%; }
    .section-career-opportunities .search-quick select {
      width: 20%;
      padding: 12px;
      margin: 0 12px;
      border-radius: 2px;
      border: 1px solid #ccc; }
      .section-career-opportunities .search-quick select option {
        color: #7A8287 !important; }
    .section-career-opportunities .search-quick button {
      padding: 9px;
      border: 1px solid #B2E151;
      border-radius: 2px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 14px;
      background: #B2E151;
      color: white;
      width: 10%; }
  .section-career-opportunities .career-job ul {
    margin-top: 50px; }
    .section-career-opportunities .career-job ul li {
      border-bottom: 1px solid #E8E8E8;
      padding: 27px 0;
      list-style: none;
      cursor: pointer; }
      .section-career-opportunities .career-job ul li:nth-last-child(1) {
        border-bottom: none; }
      .section-career-opportunities .career-job ul li p {
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        color: #313131;
        position: relative;
        align-items: center;
        margin-bottom: 0; }
        .section-career-opportunities .career-job ul li p a {
          color: #313131; }
          .section-career-opportunities .career-job ul li p a:hover {
            color: #4BADED; }
          .section-career-opportunities .career-job ul li p a span {
            padding-right: 160px; }
        .section-career-opportunities .career-job ul li p:hover > span {
          color: #4BADED; }
        .section-career-opportunities .career-job ul li p:hover > button {
          background-color: #4BADED;
          color: white; }
        .section-career-opportunities .career-job ul li p a.btn-apply {
          padding: 7px 20px;
          position: absolute;
          right: 0;
          border: 1px solid #4BADED;
          color: #4BADED;
          font-size: 13px;
          background-color: white;
          display: flex;
          align-items: center;
          font-weight: 600;
          outline: none; }
          .section-career-opportunities .career-job ul li p a.btn-apply i {
            padding-left: 5px; }
            .section-career-opportunities .career-job ul li p a.btn-apply i::before {
              font-weight: 600; }

/* --------------------------- Career Detail ------------------------------- */
.section-banner {
  text-align: left; }
  .section-banner .head-detail {
    padding: 50px 0;
    text-align: left; }
    .section-banner .head-detail .content-banner .btn-common-site {
      padding: 14px 77px; }
    .section-banner .head-detail .content-banner h1 {
      text-align: left;
      color: #4BADED; }
    .section-banner .head-detail .content-banner span {
      color: #7A8287; }
    .section-banner .head-detail .content-banner ul {
      margin: 30px 0; }
      .section-banner .head-detail .content-banner ul li {
        display: inline-flex;
        align-items: center;
        line-height: 22px;
        color: #7A8287;
        padding-right: 20px; }
        .section-banner .head-detail .content-banner ul li img {
          height: 20px;
          padding-right: 5px; }

/* ========================= Section banner ===================== */
.section-category .category-list h6 {
  font-weight: 500;
  text-transform: uppercase;
  color: #58595B;
  padding-bottom: 15px; }
.section-category .category-list .form-check {
  display: flex;
  align-items: center;
  margin-bottom: 22px; }
  .section-category .category-list .form-check input {
    margin-top: 0;
    width: 16px;
    height: 16px; }
  .section-category .category-list .form-check label {
    cursor: pointer;
    font-size: 16px;
    padding-left: 5px;
    font-weight: 600;
    color: #58595B; }
    .section-category .category-list .form-check label span {
      color: #90A3BF; }
.section-category .content-right-report {
  padding-left: 50px;
  border-left: 1px solid #E8E8E8; }
  .section-category .content-right-report .top-news {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    position: relative;
    margin-bottom: 50px; }
    .section-category .content-right-report .top-news .pic-news {
      position: relative;
      display: block;
      min-height: 215px; }
      .section-category .content-right-report .top-news .pic-news a {
        position: relative;
        padding-top: 0%;
        display: block;
        width: 100%;
        min-height: 215px; }
        .section-category .content-right-report .top-news .pic-news a img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          left: 0;
          top: 0; }
    .section-category .content-right-report .top-news .right-news {
      position: relative; }
      .section-category .content-right-report .top-news .right-news h5 {
        font-weight: 600;
        padding: 0;
        margin: 0;
        padding-bottom: 10px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden; }
      .section-category .content-right-report .top-news .right-news span {
        font-size: 13px;
        color: #7A8287;
        margin: 20px 0; }
      .section-category .content-right-report .top-news .right-news p {
        padding-top: 10px;
        font-size: 14px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden; }

.item-list-category {
  position: relative;
  padding-bottom: 30px; }
  .item-list-category .item-category {
    position: relative;
    padding-top: 0%;
    display: block;
    width: 100%; }
    .item-list-category .item-category img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }
  .item-list-category .button-category .btn-action .btn-common {
    display: flex;
    align-items: center;
    padding: 13px 30px;
    font-weight: 600; }
  .item-list-category .text-item {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .item-list-category .text-item .text-category-list {
      padding-top: 31px;
      padding-right: 15px; }
    .item-list-category .text-item a {
      color: #313131; }
      .item-list-category .text-item a:hover {
        color: #4BADED; }
      .item-list-category .text-item a h6 {
        font-weight: 600;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden; }
    .item-list-category .text-item span {
      color: #8C8C8C; }

/* ========================= Section Reinventing-work ===================== */
.top-banner-news {
  position: relative;
  margin: 50px 0; }
  .top-banner-news .pic-news {
    position: relative;
    padding-top: 0%;
    display: block;
    width: 100%;
    height: 310px; }
    .top-banner-news .pic-news img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0;
      border-radius: 12px; }
  .top-banner-news .right-news h1 {
    color: #4BADED;
    padding-bottom: 0;
    margin-bottom: 0;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden; }
  .top-banner-news .right-news span {
    padding: 10px 0;
    width: 100%;
    float: left;
    color: #7A8287; }

.future-automation .pic-news img {
  border-radius: 2px; }
.future-automation .right-news h1 {
  color: #4BADED;
  padding-bottom: 0;
  margin-bottom: 0;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.section-career-detail .reinventing-work img {
  max-width: 100%; }
.section-career-detail .table-of-content h5 {
  text-transform: uppercase;
  color: #313131; }
.section-career-detail .table-of-content .form-contact-right ul {
  padding-left: 20px; }
  .section-career-detail .table-of-content .form-contact-right ul li a {
    font-size: 13px;
    color: #58595B;
    line-height: 18px; }
    .section-career-detail .table-of-content .form-contact-right ul li a:hover {
      color: #4BADED; }
.section-career-detail .Keep-reading h5 {
  margin-bottom: 30px;
  padding-bottom: 0;
  text-transform: uppercase;
  font-weight: 600;
  color: #313131; }
.section-career-detail .Keep-reading .btn-action .btn-common-site {
  margin-bottom: 50px; }
.section-career-detail .content-detail-left img {
  max-width: 100%; }
.section-career-detail .content-detail-left .btn-action .btn-common-site {
  margin: 50px 0; }
.section-career-detail .date-location {
  width: 100%;
  min-height: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  color: #7A8287; }
  .section-career-detail .date-location i {
    padding: 0 5px; }
  .section-career-detail .date-location .ml-50 {
    margin-left: 50px; }

/* ========================= Section Webinars & Event ===================== */
.section-webinars-event .title-page.text-left {
  text-align: left;
  font-weight: 600;
  margin-bottom: 30px; }
.section-webinars-event .webinars-event {
  background: white;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
  border-radius: 2px; }
  .section-webinars-event .webinars-event .btn-common-site {
    color: white; }
  .section-webinars-event .webinars-event a {
    color: #313131; }
    .section-webinars-event .webinars-event a:hover {
      color: #4BADED; }
    .section-webinars-event .webinars-event a .pic-webinars {
      position: relative;
      padding-top: 56%;
      display: block;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      overflow: hidden; }
      .section-webinars-event .webinars-event a .pic-webinars img {
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        left: 0;
        top: 0;
        transition: 1s; }
        .section-webinars-event .webinars-event a .pic-webinars img:hover {
          transform: scale(1.2);
          border-top-left-radius: 2px;
          border-top-right-radius: 2px; }
  .section-webinars-event .webinars-event .content-webinars {
    padding: 30px 20px; }
    .section-webinars-event .webinars-event .content-webinars h5 {
      font-weight: 600;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden; }
      .section-webinars-event .webinars-event .content-webinars h5 a {
        color: #313131 !important; }
        .section-webinars-event .webinars-event .content-webinars h5 a:hover {
          opacity: .8; }
    .section-webinars-event .webinars-event .content-webinars h6 {
      font-weight: 600;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden; }
    .section-webinars-event .webinars-event .content-webinars span {
      padding: 0;
      color: #7A8287; }
    .section-webinars-event .webinars-event .content-webinars p {
      padding-top: 10px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden; }

.Section-digital-data-center-solution {
  float: left; }

/* ========================= Section blogs ===================== */
.section-career-detail.section-webinars-event .nav-tabs {
  border: 0;
  border: 2px solid white;
  width: max-content; }
  .section-career-detail.section-webinars-event .nav-tabs a {
    padding-top: 10px !important;
    padding-bottom: 15px !important; }
.section-career-detail.section-webinars-event .nav-tabs .nav-link {
  color: #313131;
  border: 0;
  border: 2px solid white;
  margin-top: -2px;
  padding: 15px 35px;
  font-weight: 600; }
.section-career-detail.section-webinars-event .nav-tabs .nav-item.show .nav-link, .section-career-detail.section-webinars-event .nav-tabs .nav-link.active {
  color: #4BADED;
  border: none;
  border-bottom: 2px solid #4BADED;
  margin-top: 0; }
.section-career-detail.section-webinars-event .date-location {
  padding: 0; }

/* ---------------------------Page Kiến thức dinh dưỡng --------------------*/
.breadcrumbs {
  padding: 20px 0 30px 0; }
  .breadcrumbs i {
    color: #8692A6; }
    .breadcrumbs i:before {
      font-size: 10px; }
  .breadcrumbs a {
    color: #8692A6;
    font-size: 13px; }

.box-news {
  display: inline-block;
  width: 100%;
  margin-bottom: 15px; }

.avatar-news {
  display: inline-block;
  width: 100%; }
  .avatar-news a {
    position: relative;
    padding-top: 56%;
    display: block; }
    .avatar-news a img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }

.title-news.lager a {
  font-size: 28px; }

.infor-news {
  display: inline-block;
  width: 100%; }
  .infor-news .cate-name h6 a {
    text-transform: uppercase;
    color: #313131;
    font-size: 12px; }

a:hover {
  opacity: .8; }

.title-news {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 700; }
  .title-news a {
    color: #313131; }

.item-news-right {
  display: inline-block;
  width: 100%;
  margin-bottom: 25px; }
  .item-news-right .col-md-6 {
    display: flex;
    align-items: center; }

.item-news-right .col-md-8 {
  display: flex;
  align-items: center; }

.time-date span {
  color: #8C8C8C;
  font-size: 13px; }

.kien-thuc-dinh-duong,
.section-nghien-cuu {
  padding-top: 0; }
  .kien-thuc-dinh-duong .title-section,
  .section-nghien-cuu .title-section {
    text-align: left;
    margin-bottom: 20px; }
    .kien-thuc-dinh-duong .title-section a,
    .section-nghien-cuu .title-section a {
      color: #313131; }

.bg-white-ktdd {
  background: #ffffff66; }
  .bg-white-ktdd .infor-news .title-news {
    font-size: 16px;
    font-weight: normal;
    margin-top: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden; }

.list-ktdd {
  padding-top: 55px; }
  .list-ktdd .title-news {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 18px; }

.kien-thuc-dinh-duong .item-news-right {
  margin-left: 15px; }

/* --------------------------- Chi tiết News------------------------------- */
.chi-tiet-ktdd {
  padding-top: 0; }
  .chi-tiet-ktdd .detail-left {
    border-right: 1px solid #DCD6C9;
    padding-right: 34px; }
  .chi-tiet-ktdd p {
    font-size: 16px;
    margin-bottom: 30px; }
  .chi-tiet-ktdd .infor-news p {
    margin-top: 10px; }
  .chi-tiet-ktdd .content-title-news h1 a {
    font-size: 32px;
    font-weight: 700;
    color: #313131; }
  .chi-tiet-ktdd .title-detail a {
    font-size: 32px;
    font-weight: 700; }
  .chi-tiet-ktdd .tin-cung-danh-muc {
    padding: 30px 0; }
    .chi-tiet-ktdd .tin-cung-danh-muc .btn-common {
      padding: 15px 30px; }
    .chi-tiet-ktdd .tin-cung-danh-muc .item-news-right {
      padding-left: 0; }
      .chi-tiet-ktdd .tin-cung-danh-muc .item-news-right .col-md-6 {
        padding-left: 15px; }
    .chi-tiet-ktdd .tin-cung-danh-muc .title-detail {
      margin-bottom: 30px; }
      .chi-tiet-ktdd .tin-cung-danh-muc .title-detail a {
        font-size: 24px;
        text-transform: uppercase; }
  .chi-tiet-ktdd .title-news {
    font-size: 18px; }
    .chi-tiet-ktdd .title-news a {
      color: #313131; }

.nhieu-nguoi-quan-tam .avatar-news {
  padding-bottom: 5px; }
.nhieu-nguoi-quan-tam .item-news-right {
  margin-bottom: 10px; }
  .nhieu-nguoi-quan-tam .item-news-right .content-infor {
    margin-left: -15px; }
.nhieu-nguoi-quan-tam .title-detail {
  margin-bottom: 20px; }
  .nhieu-nguoi-quan-tam .title-detail a {
    font-size: 18px;
    text-transform: uppercase; }
.nhieu-nguoi-quan-tam .title-news {
  -webkit-line-clamp: 3;
  font-size: 13px;
  font-weight: normal; }

/*===================== Section Partnership =======================*/
.form-here {
  z-index: 1;
  position: relative;
  margin-top: -109px;
  bottom: 0;
  padding-bottom: 100px; }
  .form-here .form-lienhe {
    background: #FFFFFF;
    box-shadow: 0px 8px 32px rgba(129, 129, 129, 0.1);
    border-radius: 8px;
    padding: 50px;
    position: relative;
    min-height: 548px; }
    .form-here .form-lienhe .tiltle-form {
      text-transform: inherit;
      font-weight: bold; }
    .form-here .form-lienhe .form-group {
      margin-bottom: 21px; }
      .form-here .form-lienhe .form-group input {
        background: #F7F9FC;
        border-radius: 2px;
        height: 44px;
        border: 1px solid #D3D3D3; }
      .form-here .form-lienhe .form-group p {
        color: #686868; }
      .form-here .form-lienhe .form-group label span {
        color: #F42C00; }
      .form-here .form-lienhe .form-group textarea {
        background-color: #F7F9FC;
        border: 1px solid #D3D3D3;
        height: 120px;
        width: 100%; }
  .form-here .button-submitform {
    display: flex;
    justify-content: right; }
    .form-here .button-submitform .btn-common-site {
      display: flex;
      align-items: center; }
  .form-here .img-lienhe {
    z-index: -1;
    position: relative; }
    .form-here .img-lienhe a {
      position: relative;
      padding-top: 107%;
      display: block;
      box-shadow: 0px 8px 32px rgba(129, 129, 129, 0.1);
      border-radius: 8px;
      overflow: hidden; }
      .form-here .img-lienhe a img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        left: 0;
        top: 0;
        max-width: 100%; }

.form-contact {
  margin-top: 0; }
  .form-contact .form-lienhe img {
    max-width: 100%; }
  .form-contact .form-lienhe .phoneicon {
    padding: 20px 0; }
  .form-contact .form-lienhe h4 {
    margin: 0; }
  .form-contact .form-lienhe h3 {
    font-weight: 500;
    margin: 0;
    color: #4BADED; }
  .form-contact .form-lienhe p {
    padding: 10px 0;
    margin: 0; }
  .form-contact .form-lienhe .email-form-lien-he {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4BADED; }
    .form-contact .form-lienhe .email-form-lien-he p {
      padding: 2px 0;
      margin: 0;
      font-size: 16px;
      padding-left: 5px; }

/*================Section headquarter offices ======================*/
.headquarter-offices .row {
  align-content: center;
  align-items: center;
  padding: 30px 0; }
  .headquarter-offices .row .address-info h3 {
    color: white;
    font-weight: 600; }
  .headquarter-offices .row .address-info p {
    color: white; }
  .headquarter-offices .row img {
    max-width: 100%; }

/*=====================Section Digital Data Center ================*/
.digital-data-center {
  background-color: #F5F8FA; }
  .digital-data-center h3 {
    font-weight: 600; }
  .digital-data-center .item-works img {
    height: 80px;
    padding-bottom: 15px; }

.detail-main-product h4 {
  font-weight: 600; }
.detail-main-product ul {
  margin-left: 10px; }
  .detail-main-product ul li {
    list-style: none;
    align-items: center;
    padding-bottom: 5px;
    margin-left: -10px;
    position: relative; }
    .detail-main-product ul li em {
      width: 18px;
      height: 18px;
      background: #58595B;
      color: white;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      font-size: 12px;
      font-style: normal;
      margin-right: 5px;
      position: absolute;
      top: 5px; }
    .detail-main-product ul li span {
      padding-left: 25px;
      display: inline-block; }

/*====================== Section section-main-category =================*/
.section-main-category.gray {
  background: #F5F8FA; }
.section-main-category .row {
  align-items: center; }
  .section-main-category .row .col-md-6 {
    padding: 0 50px; }
.section-main-category .detail-main-product .icon-item {
  border-bottom: 1px solid #E8E8E8;
  padding: 22px 0; }
.section-main-category .pic-product-avatar {
  width: 100%; }
.section-main-category h3 {
  font-weight: 600; }

/*===================== Section-digital-data-center-solution ==================*/
.Section-digital-data-center-solution h2 {
  font-weight: 600; }
.Section-digital-data-center-solution .btn-common-site-2 {
  font-size: 14px;
  padding: 13px 50px;
  background: #B2E151; }
.Section-digital-data-center-solution .text-des {
  padding: 20px 0; }
.Section-digital-data-center-solution h3 {
  font-weight: 600;
  color: #58595B; }

.Section-form-sign-up .row {
  margin: 0;
  padding: 0; }
  .Section-form-sign-up .row .pic-left-avt {
    position: relative;
    padding-top: 50%;
    display: block; }
    .Section-form-sign-up .row .pic-left-avt .pic-product-avatar {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }
  .Section-form-sign-up .row .form-sign-up {
    max-width: 590px;
    padding: 50px; }
    .Section-form-sign-up .row .form-sign-up h4 {
      color: white;
      font-weight: 600;
      padding-left: 15px; }
    .Section-form-sign-up .row .form-sign-up .form-lienhe .form-group input {
      height: 44px;
      border: none;
      border-radius: 3px; }
    .Section-form-sign-up .row .form-sign-up .form-lienhe .button-submitform {
      text-align: right; }
      .Section-form-sign-up .row .form-sign-up .form-lienhe .button-submitform .btn-common-site {
        border: 1.5px solid #ffffff;
        text-transform: uppercase;
        font-weight: bold; }
        .Section-form-sign-up .row .form-sign-up .form-lienhe .button-submitform .btn-common-site:hover {
          color: white; }

.other-services h3 {
  font-weight: 600; }
.other-services .webinars-event .pic-webinars {
  position: relative;
  padding-top: 56%;
  display: block;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  overflow: hidden; }
  .other-services .webinars-event .pic-webinars img {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0;
    transition: 1s; }
    .other-services .webinars-event .pic-webinars img:hover {
      transform: scale(1.2);
      border-top-left-radius: 12px;
      border-top-right-radius: 12px; }
.other-services .webinars-event a {
  color: #4BADED; }
  .other-services .webinars-event a:hover {
    color: white; }

/*======================section-case-studies=========================*/
.item-case-studies {
  background: #F5F8FA;
  padding: 50px;
  padding-bottom: 0;
  text-align: center; }
  .item-case-studies h3 {
    font-weight: 600;
    color: #313131; }
  .item-case-studies p {
    color: #7A8287; }
  .item-case-studies .pic-case-studies {
    position: relative;
    padding-top: 56%;
    display: block; }
    .item-case-studies .pic-case-studies img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }

.tag-case-studies {
  margin: 20px 0; }
  .tag-case-studies li {
    display: inline !important;
    padding: 5px 10px !important;
    background: #4BADED;
    color: white !important;
    margin: 3px;
    line-height: 37px !important;
    white-space: nowrap;
    border-radius: 3px; }

.content-case-studies-detail {
  max-width: 900px;
  margin: auto;
  text-align: center; }
  .content-case-studies-detail p, .content-case-studies-detail span, .content-case-studies-detail b, .content-case-studies-detail em, .content-case-studies-detail strong {
    text-align: left; }
  .content-case-studies-detail img {
    max-width: 100%;
    padding: 30px 0; }

.aboutus .title-page p {
  font-weight: normal; }
.aboutus .row {
  align-items: center; }

.about-us-pic {
  text-align: center; }
  .about-us-pic .pic-product-avatar {
    max-width: 100%;
    width: 100%; }

.item-works img {
  height: 80px;
  padding-bottom: 15px; }
.item-works h5 {
  padding: 20px 0;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden; }
.item-works p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.list-function {
  max-width: 527px; }
  .list-function .icon-item {
    width: 100%;
    position: relative;
    display: inline-grid;
    align-items: center;
    align-content: center;
    padding: 15px 0; }
    .list-function .icon-item:nth-last-child(1) {
      margin-bottom: 0;
      border-bottom: 0; }
    .list-function .icon-item i {
      width: 22px;
      height: 22px;
      text-align: center;
      border-radius: 50%;
      background: #4BADED;
      line-height: 20px;
      position: absolute; }
      .list-function .icon-item i::before {
        color: white;
        font-size: 10px; }
    .list-function .icon-item span {
      font-family: inter, sans-serif;
      padding-left: 32px;
      float: left;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      line-height: 22px; }

/*==========================page notifi=============================*/
.section-page-notification {
  padding-top: 150px; }

.page-notifi {
  max-width: 600px;
  margin: auto;
  text-align: center; }
  .page-notifi h4 {
    font-weight: 700;
    padding-top: 50px; }
  .page-notifi p {
    padding: 10px 0; }

/*========================modal popup===============*/
.popup-modal .modal.show .modal-dialog {
  margin-top: 15px; }
.popup-modal .modal-header {
  position: relative;
  display: initial;
  border-bottom: none;
  padding-bottom: 0; }
  .popup-modal .modal-header .tiltle-form {
    padding-top: 30px; }
  .popup-modal .modal-header .close {
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: white;
    opacity: inherit;
    padding: 0;
    color: #4BADED;
    border: 1px solid #4BADED;
    display: flex;
    align-items: center;
    justify-content: center; }
.popup-modal .modal-body {
  padding-bottom: 0; }
  .popup-modal .modal-body .form-lienhe {
    padding: 0 30px; }
    .popup-modal .modal-body .form-lienhe .form-control {
      height: 44px;
      border-radius: 2px;
      background: #F7F9FC;
      border-color: #D3D3D3; }
    .popup-modal .modal-body .form-lienhe textarea {
      min-height: 70px; }
.popup-modal .modal-footer {
  border-top: none;
  padding-top: 0;
  padding-right: 40px;
  padding-bottom: 40px; }

.img-lienhe img {
  width: 100%; }

/*==============Section Overview =======================*/
.section-overview .row {
  align-items: center; }
  .section-overview .row .pic-left-overview {
    position: relative;
    padding-top: 90%;
    display: block; }
    .section-overview .row .pic-left-overview img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }

.img-lienhe {
  position: relative;
  padding-top: 90%;
  display: block;
  min-height: 560px; }
  .img-lienhe img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0; }

h1 {
  font-size: 55px;
  font-weight: 600 !important; }

h2 {
  font-size: 32px;
  font-weight: 600 !important; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 20px;
  font-weight: 600; }

h6 {
  font-size: 18px;
  font-weight: 600; }

p {
  font-size: 16px; }

strong, b, span, i, label {
  font-size: 14px; }

body {
  font-family: 'Roboto', sans-serif;
  color: #313131;
  font-weight: 400;
  padding: 0;
  font-size: 16px;
  margin: 0;
  width: 100%;
  line-height: 1.6; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.container {
  max-width: 1200px; }

.btn-common {
  display: inline-block;
  background: transparent;
  padding: 14px 77px;
  color: white;
  text-align: center;
  transition: all .3s ease-in-out;
  font-size: 16px;
  font-weight: 900;
  border: 1.5px solid #4BADED;
  color: #4BADED;
  text-transform: uppercase;
  border-radius: 2px; }
  .btn-common i {
    margin-left: 5px; }
  .btn-common:hover {
    opacity: 0.8;
    color: white;
    background: #4BADED; }

.btn-common-site {
  display: inline-block;
  background: #4BADED;
  padding: 10px 40px;
  color: white;
  text-align: center;
  transition: all .3s ease-in-out;
  font-size: 14px;
  border: 1.5px solid #4BADED;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 2px; }
  .btn-common-site i {
    margin-left: 5px;
    font-size: 13px; }
  .btn-common-site:hover {
    opacity: 0.8;
    color: #4BADED;
    background: transparent; }

.btn-common-site-1 {
  display: inline-block;
  background: transparent;
  padding: 10px 30px;
  color: white;
  text-align: center;
  transition: all .3s ease-in-out;
  font-size: 16px;
  border: 1.5px solid white;
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 20px;
  margin-right: 10px;
  justify-content: center;
  border-radius: 2px; }
  .btn-common-site-1 i {
    margin-left: 5px; }
  .btn-common-site-1:hover {
    opacity: 0.8;
    color: white;
    background: #4BADED;
    border: 1.5px solid #4BADED; }

.name-bill h6, .name-bill h5 {
  font-size: 20px;
  font-weight: 900 !important; }

.btn-common-site-2 {
  display: inline-block;
  background: #85C86F;
  padding: 7px 50px 5px 50px;
  color: white;
  text-align: center;
  transition: all .3s ease-in-out;
  font-size: 18px;
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 2px; }
  .btn-common-site-2 .button-hotline {
    display: flex;
    align-items: center;
    align-content: center;
    font-size: 22px;
    font-weight: 600;
    justify-content: center; }
    .btn-common-site-2 .button-hotline span {
      padding-right: 5px; }
  .btn-common-site-2 i {
    margin-left: 5px; }
  .btn-common-site-2:hover {
    opacity: 0.8;
    color: white;
    background: #4BADED;
    border: 0; }

section {
  padding: 55px 0;
  display: inline-block;
  width: 100%; }

.title-section {
  display: inline-block;
  width: 100%;
  font-weight: 600;
  text-align: center; }
  .title-section a {
    color: #313131;
    align-items: flex-start; }
    .title-section a img {
      height: 40px;
      margin: 0 10px 10px 10px; }

.title-page {
  display: inline-block;
  width: 100%;
  font-weight: 900;
  text-align: center; }

a {
  text-decoration: none; }

.section-Customizable-Campaign table {
  min-width: 800px; }
  .section-Customizable-Campaign table thead th {
    border: 1px solid white !important;
    background: #4BADED;
    border: 0;
    color: white;
    padding: 10px 40px;
    font-weight: 700;
    font-size: 20px; }
  .section-Customizable-Campaign table tr td {
    padding: 20px 40px; }
    .section-Customizable-Campaign table tr td p {
      font-size: 16px;
      color: #313131;
      line-height: 30px;
      margin-bottom: 0;
      padding: 10px 0;
      position: relative;
      padding-left: 20px; }
      .section-Customizable-Campaign table tr td p::before {
        position: absolute;
        left: 0;
        top: 22px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #4BADED;
        display: inline-block;
        content: ''; }
      .section-Customizable-Campaign table tr td p:nth-last-child(1) {
        border-bottom: 0; }
    .section-Customizable-Campaign table tr td h6 {
      font-size: 20px;
      color: #4BADED;
      text-transform: uppercase; }

.flex-center {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center; }

.mt-10 {
  margin-top: 10px; }

.mt-20 {
  margin-top: 20px; }

.mt-30 {
  margin-top: 30px; }

.mt-40 {
  margin-top: 40px; }

.mt-50 {
  margin-top: 50px; }

.mt-60 {
  margin-top: 60px; }

.mt-70 {
  margin-top: 70px; }

.mb-10 {
  margin-bottom: 10px; }

.pr-100 {
  padding-right: 70px; }

.pl-100 {
  padding-left: 70px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-70 {
  margin-bottom: 70px; }

.m10 {
  margin: 10px; }

.m15 {
  margin: 15px; }

.m20 {
  margin: 20px; }

.m25 {
  margin: 25px; }

.m30 {
  margin: 30px; }

.m35 {
  margin: 35px; }

.m40 {
  margin: 40px; }

.m45 {
  margin: 45px; }

.m50 {
  margin: 50px; }

.m55 {
  margin: 55px; }

.m60 {
  margin: 60px; }

.m65 {
  margin: 65px; }

.m70 {
  margin: 70px; }

.ml-0 {
  margin-left: 0; }

.mr-0 {
  margin-right: 0; }

.mt-0 {
  margin-top: 0; }

.mb-0 {
  margin-bottom: 0; }

.p10 {
  padding: 10px; }

.p15 {
  padding: 15px; }

.p20 {
  padding: 20px; }

.p25 {
  padding: 25px; }

.p30 {
  padding: 30px; }

.p35 {
  padding: 35px; }

.p40 {
  padding: 40px; }

.p45 {
  padding: 45px; }

.p50 {
  padding: 50px; }

.p55 {
  padding: 55px; }

.p60 {
  padding: 60px; }

.p65 {
  padding: 65px; }

.p70 {
  padding: 70px; }

.pl-0 {
  padding-left: 0; }

.pr-0 {
  padding-right: 0; }

.pt-0 {
  padding-top: 0; }

.pb-0 {
  padding-bottom: 0; }

.pd-left {
  padding-left: 30px; }

.pd-right {
  padding-right: 30px; }

.center {
  text-align: center; }

.language {
  display: none; }

.avatar-thumb {
  display: inline-block;
  width: 100%; }
  .avatar-thumb a {
    position: relative;
    padding-top: 143%;
    display: block; }
    .avatar-thumb a img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }

.btn-action {
  display: inline-block;
  width: 100%; }
  .btn-action button {
    outline: none; }

header {
  display: inline-block;
  width: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  left: 0;
  padding: 8px 10px;
  background: transparent; }
  header.active {
    background: white !important; }
  header .width-menu {
    width: 98%;
    margin: auto; }

.content-webinars.center p {
  font-size: 16px;
  color: #7A8287 !important; }

.content-head {
  display: flex;
  justify-content: space-between; }
  .content-head .logo {
    display: flex;
    align-items: center; }
    .content-head .logo img {
      padding: 1px 0;
      max-height: 50px; }
  .content-head nav {
    display: flex;
    align-content: center;
    -ms-flex-pack: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    transition: all .3s ease-in-out;
    padding: 0; }
    .content-head nav ul {
      display: flex;
      align-content: center;
      -ms-flex-pack: center !important;
      -ms-flex-align: center !important;
      align-items: center !important;
      transition: all .3s ease-in-out;
      margin-bottom: 0; }
      .content-head nav ul li {
        list-style: none; }
        .content-head nav ul li a {
          color: #313131;
          font-weight: 600;
          text-decoration: none;
          padding: 7px 15px; }
          .content-head nav ul li a:hover {
            color: #4BADED; }

/*-------------------------menu---------------------------*/
.content-head .menu nav > ul > li.submenu > ul {
  justify-content: center;
  margin-bottom: 0;
  display: inherit !important; }

.menu nav ul > li > a::before {
  content: "\e64b";
  display: inline-block;
  font-family: 'themify';
  font-size: 9px;
  font-weight: 100;
  position: absolute;
  right: 0;
  top: 3px; }
.menu nav ul > li > a::before:last-child(1) {
  display: none; }

.menu nav ul > li > button.book-meeting {
  background: #59B078;
  border-radius: 2px;
  padding: 10px 18px;
  color: white;
  outline: none;
  border: none; }

.content-detail-left.reinventing-work img {
  margin-bottom: 15px;
  width: 100%;
  height: auto !important; }
.content-detail-left.reinventing-work ul {
  padding-left: 15px !important; }

.wp-caption.aligncenter {
  margin: auto !important; }

.form-contact-right input {
  width: 100%;
  border-radius: 2px;
  height: 45px;
  font-size: 14px;
  display: inline-block;
  padding: 15px;
  border: 1px solid #E8E8E8; }

.title-job-apply b {
  display: inline-block;
  width: 100%;
  font-size: 15px;
  color: #4BADED;
  margin-bottom: 20px; }

.textarea-filed textarea {
  width: 100%;
  border-radius: 2px;
  font-size: 14px;
  height: 100px;
  display: inline-block;
  padding: 15px;
  border: 1px solid #E8E8E8; }

.upload-File {
  position: relative;
  height: 45px;
  display: flex;
  align-items: center;
  padding-left: 14px;
  border: 1px solid #E8E8E8; }
  .upload-File input {
    font-size: 14px;
    border: 0;
    padding: 0;
    height: initial !important; }
  .upload-File::before {
    background: url(../images/attach.svg) no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    content: '';
    position: absolute;
    left: 14px;
    top: 9px; }
  .upload-File [type="file"] {
    /* Style the color of the message that says 'No file chosen' */
    color: #878787; }
  .upload-File [type="file"]::-webkit-file-upload-button {
    background: #fff;
    border-radius: 2px;
    border: 0;
    color: #4BADED;
    cursor: pointer;
    font-size: 12px;
    outline: none;
    padding: 10px 25px;
    text-transform: uppercase;
    transition: all 1s ease; }

.content-detail-left.reinventing-work h3 {
  font-size: initial;
  font-weight: 700 !important;
  margin-bottom: 15px;
  display: inline-block;
  width: 100%; }

.col-md-8 .content-detail-left {
  text-align: justify; }
  .col-md-8 .content-detail-left img {
    height: auto !important; }
  .col-md-8 .content-detail-left strong, .col-md-8 .content-detail-left b, .col-md-8 .content-detail-left span, .col-md-8 .content-detail-left i, .col-md-8 .content-detail-left label {
    font-size: inherit; }

.numbers-countdown {
  display: flex;
  width: 100%;
  justify-content: center; }
  .numbers-countdown label {
    font-size: 30px;
    color: #4BADED;
    padding-top: 20px;
    font-weight: 600; }

.page-headDetail-webinars {
  padding-top: 140px;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important; }

.section-ai-machine-learning h3.mb-0 {
  margin-bottom: 10px !important; }

.menu {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center; }
  .menu nav ul {
    padding: 0; }
    .menu nav ul li {
      position: relative;
      list-style: none;
      padding: 5px 0; }
      .menu nav ul li i {
        display: none; }
      .menu nav ul li a {
        padding: 0 20px;
        position: relative; }
      .menu nav ul li ul {
        position: absolute;
        top: 35px;
        padding: 8px 0;
        width: 300px;
        left: 0;
        opacity: 0;
        visibility: hidden;
        background: white;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
        border-radius: 2px;
        padding: 5px 8px; }
        .menu nav ul li ul li {
          padding: 5px;
          transition: all 0.3s linear; }
          .menu nav ul li ul li a {
            display: inline-block;
            width: 100%;
            font-weight: normal;
            padding: 8px 5px;
            font-size: 14px;
            transition: 0.5s; }
            .menu nav ul li ul li a::before {
              display: none; }
            .menu nav ul li ul li a:hover {
              color: #4BADED;
              background: #F5F8FA;
              padding-left: 12px;
              border-radius: 2px; }
      .menu nav ul li:hover ul {
        opacity: 1;
        visibility: initial; }
      .menu nav ul li.active a {
        color: #4BADED; }
      .menu nav ul li.active ul li a {
        color: #313131; }
        .menu nav ul li.active ul li a:hover, .menu nav ul li.active ul li a.active {
          color: #4BADED !important; }

.content-head .menu nav > ul > li.submenu > ul {
  list-style-type: none !important;
  left: 18px; }

/* -------Sticky menu srcoll----- */
.menu-scroll {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  background: white; }
  .menu-scroll nav {
    padding: 0 !important; }

.phone-call {
  display: none;
  width: 80px;
  height: 80px;
  right: 20px;
  bottom: 20px;
  background-color: #59B078;
  position: fixed;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  border-radius: 50%;
  z-index: 99;
  line-height: 65px; }
  .phone-call span {
    line-height: 19px;
    display: inline-block;
    text-align: center;
    font-size: 14px; }

.icon-phone {
  width: 100%;
  text-align: center;
  float: left;
  margin-top: 8px;
  margin-bottom: -4px; }

.phone-call:before {
  position: absolute;
  content: " ";
  z-index: -1;
  top: -15px;
  left: -15px;
  background-color: #59B078;
  width: 110px;
  height: 110px;
  border-radius: 100%;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  opacity: 0.6;
  -webkit-animation: pulse .5s ease-out;
  animation: pulse 1.1s ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    opacity: 0; }
  25% {
    -webkit-transform: scale(0.3);
    opacity: 1; }
  50% {
    -webkit-transform: scale(0.6);
    opacity: .6; }
  75% {
    -webkit-transform: scale(0.9);
    opacity: .3; }
  100% {
    -webkit-transform: scale(1);
    opacity: 0; } }
@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0; }
  25% {
    transform: scale(0.3);
    opacity: 1; }
  50% {
    transform: scale(0.6);
    opacity: .6; }
  75% {
    transform: scale(0.9);
    opacity: .3; }
  100% {
    transform: scale(1);
    opacity: 0; } }
section {
  overflow: hidden; }

h3 a {
  color: #313131; }

.no-sub a::after, .no-sub a::before {
  display: none !important; }

.section-why-join-page {
  border: none !important; }

.menu nav ul > li > a:nth-last-child(1)::before {
  display: none; }

.title-section {
  display: inline-block;
  width: 100%;
  font-weight: 600;
  text-align: center; }
  .title-section a {
    color: #313131;
    align-items: flex-start; }
    .title-section a img {
      height: 40px;
      margin: 0 10px 10px 10px; }

.content-site {
  padding-left: 80px; }
  .content-site h2 {
    padding-top: 0;
    padding-bottom: 15px;
    font-weight: 600; }

.hinh-anh-Social {
  width: 100%; }
  .hinh-anh-Social img {
    width: 100%; }

.sticky-box .form-contact-right ul li {
  list-style: none; }

/* ========================= Section banner ===================== */
.section-banner-top {
  display: inline-block;
  width: 100%;
  padding-bottom: 0;
  position: relative;
  padding-top: 0; }
  .section-banner-top .item-slider {
    position: relative; }
    .section-banner-top .item-slider .slider-PC {
      width: 100%;
      display: block; }
    .section-banner-top .item-slider .body-content-slider {
      top: 0;
      position: absolute;
      width: 100%;
      left: 0;
      display: flex;
      align-items: center;
      height: 100%; }
      .section-banner-top .item-slider .body-content-slider .container {
        max-width: 90%; }
    .section-banner-top .item-slider .content-slider {
      width: 50%;
      display: inline-block; }
      .section-banner-top .item-slider .content-slider h1 {
        font-weight: 600;
        color: #4BADED;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        padding: 0; }
      .section-banner-top .item-slider .content-slider p {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 20px;
        color: #58595B;
        margin-top: 15px; }
    .section-banner-top .item-slider .slide-MB {
      display: none !important; }
  .section-banner-top.head-page .body-content-slider {
    padding-top: 90px !important; }
  .section-banner-top.head-page .body-content-slider .container {
    max-width: 1200px; }

/* ========================= Section Features that you'll appreciate ===================== */
.section-Features-appreciate .title-page h2 {
  font-weight: 600;
  padding-bottom: 20px;
  margin-bottom: 0; }
.section-Features-appreciate .tabs-features-appreciate .col-md-4 {
  display: flex;
  align-items: center; }
.section-Features-appreciate .tabs-features-appreciate nav {
  border-bottom: 2px solid #E8E8E8; }
  .section-Features-appreciate .tabs-features-appreciate nav .nav.nav-tabs {
    flex-wrap: nowrap;
    border: none;
    text-align: center;
    justify-content: center; }
    .section-Features-appreciate .tabs-features-appreciate nav .nav.nav-tabs .nav-link {
      border-top: 0;
      border-right: 0;
      border-left: 0; }
    .section-Features-appreciate .tabs-features-appreciate nav .nav.nav-tabs .nav-item {
      margin-bottom: -2px; }
    .section-Features-appreciate .tabs-features-appreciate nav .nav.nav-tabs a {
      font-size: 16px;
      padding: 10px 15px;
      color: #313131; }
      .section-Features-appreciate .tabs-features-appreciate nav .nav.nav-tabs a:hover, .section-Features-appreciate .tabs-features-appreciate nav .nav.nav-tabs a:focus, .section-Features-appreciate .tabs-features-appreciate nav .nav.nav-tabs a.active {
        border: none;
        border-bottom: 2px solid #4BADED;
        color: #4BADED; }

/* ========================= Section Data coverage =========================  */
.section-data-coverage {
  background-color: #F5F8FA; }
  .section-data-coverage .row {
    align-items: center; }

/* ========================= Section AI & Machine learning =========================  */
.section-ai-machine-learning {
  background-color: #fff; }
  .section-ai-machine-learning .content-site {
    padding-left: 0 !important;
    padding-right: 80px; }
  .section-ai-machine-learning .row {
    align-items: center; }

/* ========================= Section customize =========================  */
.section-customize {
  background-color: #F5F8FA; }
  .section-customize .row {
    align-items: center; }

/* ========================= Section Growth your brand with Data =========================  */
.section-growth-your .growth-your-brand {
  padding: 30px 0; }
  .section-growth-your .growth-your-brand h2 {
    color: white;
    text-align: center; }

/* ========================= Section think-customer =========================  */
.think-customer {
  display: inline-block;
  width: 100%;
  padding-bottom: 0 !important;
  background: white; }
  .think-customer .cam-nhan-khach-hang {
    padding-bottom: 0;
    margin-bottom: 0; }
    .think-customer .cam-nhan-khach-hang .title-page h2 {
      font-weight: 600; }
    .think-customer .cam-nhan-khach-hang .title-section {
      margin: 0; }
    .think-customer .cam-nhan-khach-hang .icon-img {
      text-align: center;
      width: 40px;
      height: 40px;
      margin: auto; }
    .think-customer .cam-nhan-khach-hang .noi-dung-cam-nhan {
      padding: 20px 0; }
    .think-customer .cam-nhan-khach-hang .content-cam-nhan {
      width: 750px;
      margin: auto;
      text-align: center; }
      .think-customer .cam-nhan-khach-hang .content-cam-nhan .box-cam-nhan {
        border-radius: 2px;
        width: 96%;
        margin: 20px auto;
        padding: 20px;
        min-height: 230px;
        margin-bottom: 0; }
        .think-customer .cam-nhan-khach-hang .content-cam-nhan .box-cam-nhan .owl-theme .owl-dots .owl-dot span {
          width: 6px !important;
          height: 6px !important;
          margin: 5px 7px;
          background: #D6D6D6;
          display: block;
          -webkit-backface-visibility: visible;
          transition: opacity .2s ease;
          border-radius: 30px; }
    .think-customer .cam-nhan-khach-hang .info-khach {
      width: 100%; }
      .think-customer .cam-nhan-khach-hang .info-khach .info-khach-hang {
        display: flex;
        justify-content: center; }
        .think-customer .cam-nhan-khach-hang .info-khach .info-khach-hang .avatar-kh {
          width: 80px;
          height: 80px;
          padding: 0 10px 0 0; }
          .think-customer .cam-nhan-khach-hang .info-khach .info-khach-hang .avatar-kh img {
            width: 100%;
            max-height: 100%; }
          .think-customer .cam-nhan-khach-hang .info-khach .info-khach-hang .avatar-kh h4 {
            font-weight: 600; }
          .think-customer .cam-nhan-khach-hang .info-khach .info-khach-hang .avatar-kh p {
            font-weight: 400; }
        .think-customer .cam-nhan-khach-hang .info-khach .info-khach-hang .name-tile-kh h4 {
          font-weight: 600;
          text-align: left;
          padding-bottom: 0;
          margin-bottom: 5px;
          font-size: 18px;
          margin-top: 15px;
          color: #4BADED; }
        .think-customer .cam-nhan-khach-hang .info-khach .info-khach-hang .name-tile-kh p {
          font-weight: 400;
          text-align: left;
          color: #636F75;
          font-size: 13px; }
    .think-customer .cam-nhan-khach-hang .bg-cam-nhan {
      width: 100%;
      text-align: center; }

.img-news-left {
  position: absolute;
  right: 0;
  width: 250px;
  border-radius: 2px;
  overflow: hidden;
  top: 0; }

.news-page .news .left-news .list-news-left-ad {
  position: relative;
  padding-right: 290px;
  margin-bottom: 20px;
  min-height: 190px; }
.news-page .news .left-news .list-news-left {
  position: relative; }
  .news-page .news .left-news .list-news-left h4 a {
    color: #313131; }
  .news-page .news .left-news .list-news-left p {
    color: #7A8287;
    margin-top: 10px;
    margin-bottom: 0; }
  .news-page .news .left-news .list-news-left a {
    color: #7A8287;
    text-decoration: none; }
    .news-page .news .left-news .list-news-left a h4 {
      font-size: 20px;
      font-weight: 700;
      color: #313131;
      padding: 0;
      margin: 0;
      padding-bottom: 10px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden; }
      .news-page .news .left-news .list-news-left a h4:hover {
        color: #4BADED; }
    .news-page .news .left-news .list-news-left a .date-cate {
      width: 100%;
      float: left;
      margin: 0;
      color: #7A8287;
      padding-bottom: 5px; }
      .news-page .news .left-news .list-news-left a .date-cate span {
        color: #7A8287;
        padding: 0; }
      .news-page .news .left-news .list-news-left a .date-cate b {
        color: #7A8287; }
    .news-page .news .left-news .list-news-left a p {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      width: 100%; }
.news-page .news .left-news .img-news-left a {
  position: relative;
  padding-top: 65%;
  display: block; }
  .news-page .news .left-news .img-news-left a img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0; }
.news-page .news .right-news {
  padding-left: 50px; }
  .news-page .news .right-news b a {
    color: #7A8287 !important; }
  .news-page .news .right-news .items-news-right {
    display: flex;
    margin-bottom: 20px; }
    .news-page .news .right-news .items-news-right .number-news-right {
      font-size: 28px;
      font-weight: 400;
      color: #B0CE93;
      padding: 0 20px 0 0;
      margin: 0; }
    .news-page .news .right-news .items-news-right .text-news-right a {
      color: #313131;
      text-decoration: none; }
      .news-page .news .right-news .items-news-right .text-news-right a h4 {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 5px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden; }
    .news-page .news .right-news .items-news-right .text-news-right .date-cate {
      width: 100%;
      float: left;
      margin: 0;
      color: #7A8287; }
      .news-page .news .right-news .items-news-right .text-news-right .date-cate span {
        color: #7A8287;
        padding: 0; }
      .news-page .news .right-news .items-news-right .text-news-right .date-cate b {
        color: #7A8287; }

.owl-next {
  background: none !important;
  outline: none !important; }
  .owl-next span {
    width: 50px;
    font-size: 0px;
    color: white;
    height: 50px;
    background: url(../images/next-slide.svg) no-repeat center top;
    display: inline-block;
    position: absolute;
    top: 40%;
    background-size: cover;
    right: -20px; }
  .owl-next:hover {
    opacity: .7; }

.owl-prev {
  background: none !important;
  outline: none !important; }
  .owl-prev span {
    width: 50px;
    font-size: 0px;
    position: absolute;
    top: 40%;
    left: -20px;
    color: white;
    height: 50px;
    background: url(../images/prev-slide.svg) no-repeat center top;
    display: inline-block;
    background-size: cover; }
  .owl-prev:hover {
    opacity: .7; }

.owl-dots {
  opacity: .4; }
  .owl-dots span {
    width: 14px !important;
    height: 14px !important;
    border: 1px solid #ababab !important;
    outline: none; }

.owl-theme .owl-dots .owl-dot {
  outline: none; }

/* ========================= Section Trusted By Top Brands =========================  */
.top-brands .title-page h2 {
  font-weight: 600; }
.top-brands .title-page p {
  font-weight: 400;
  max-width: 700px;
  margin: auto; }
.top-brands .hleft-hright {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .top-brands .hleft-hright .hleft, .top-brands .hleft-hright .hright {
    padding-top: 127px;
    max-width: 366px; }
    .top-brands .hleft-hright .hleft img, .top-brands .hleft-hright .hright img {
      max-width: 100%; }
  .top-brands .hleft-hright .hmain .item-main {
    display: flex; }
    .top-brands .hleft-hright .hmain .item-main .item-list {
      width: 205px;
      height: 205px;
      text-align: center;
      border: 3px solid #4BADED;
      margin: 20px;
      padding: 20px;
      padding-top: 9px !important;
      border-radius: 50%;
      background: white; }
      .top-brands .hleft-hright .hmain .item-main .item-list:nth-child(2) {
        margin-top: 80px; }
      .top-brands .hleft-hright .hmain .item-main .item-list:nth-child(3) {
        margin-top: -41px; }
      .top-brands .hleft-hright .hmain .item-main .item-list h1 {
        font-size: 50px;
        font-weight: 700;
        color: #4BADED;
        padding-top: 13px;
        margin-bottom: 0;
        width: initial !important; }
        .top-brands .hleft-hright .hmain .item-main .item-list h1 span {
          font-size: 28px; }
      .top-brands .hleft-hright .hmain .item-main .item-list p {
        font-size: 16px; }
.top-brands .logo-tops-brands {
  max-width: 900px;
  text-align: center;
  margin: auto;
  margin-top: -50px; }
  .top-brands .logo-tops-brands img {
    padding: 0 10px;
    height: 80px;
    margin: 15px 10px; }

/* ========================= Section Tin tức =========================  */
.section-news {
  background: #F5F8FA; }
  .section-news .news-page .title-page h2 {
    font-weight: 600; }
  .section-news .news-page .title-page p {
    font-weight: normal;
    max-width: 700px;
    margin: auto;
    padding-bottom: 50px; }

/* ========================= Section Growth your brand with One Stop Solution Package =========================  */
.stop-solution-package .title-page h3 {
  font-weight: 600; }
.stop-solution-package .tabs-list-bill ul {
  justify-content: center;
  align-items: center; }
  .stop-solution-package .tabs-list-bill ul .nav-item {
    margin: 0 12px; }
    .stop-solution-package .tabs-list-bill ul .nav-item a {
      height: 60px;
      padding: 10px 60px; }
      .stop-solution-package .tabs-list-bill ul .nav-item a p {
        padding: 0;
        margin: 0;
        line-height: 15px;
        text-align: center;
        font-weight: 500; }
      .stop-solution-package .tabs-list-bill ul .nav-item a span {
        padding-bottom: 10px;
        text-align: center;
        font-size: 13px; }
    .stop-solution-package .tabs-list-bill ul .nav-item .cus-line {
      display: flex;
      align-items: center; }
.stop-solution-package .tabs-list-bill .content-prices-year {
  margin-top: 43px; }
  .stop-solution-package .tabs-list-bill .content-prices-year .col-md-4:nth-child(2) .btn-action a:hover {
    opacity: .8;
    border: 1.5px solid white; }
  .stop-solution-package .tabs-list-bill .content-prices-year .box-bill {
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.07);
    border-radius: 2px; }
    .stop-solution-package .tabs-list-bill .content-prices-year .box-bill .basic-bill {
      padding: 55px;
      padding-bottom: 20px; }
      .stop-solution-package .tabs-list-bill .content-prices-year .box-bill .basic-bill .name-bill-top {
        display: flex;
        align-items: center; }
        .stop-solution-package .tabs-list-bill .content-prices-year .box-bill .basic-bill .name-bill-top img {
          width: 70px; }
        .stop-solution-package .tabs-list-bill .content-prices-year .box-bill .basic-bill .name-bill-top .name-bill {
          padding-left: 10px; }
          .stop-solution-package .tabs-list-bill .content-prices-year .box-bill .basic-bill .name-bill-top .name-bill h5 {
            padding: 0;
            margin: 0;
            padding-top: 12px;
            font-weight: 700;
            line-height: 14px; }
          .stop-solution-package .tabs-list-bill .content-prices-year .box-bill .basic-bill .name-bill-top .name-bill span {
            font-size: 13px;
            color: #7A8287; }
      .stop-solution-package .tabs-list-bill .content-prices-year .box-bill .basic-bill .list-function {
        margin-top: 25px; }
        .stop-solution-package .tabs-list-bill .content-prices-year .box-bill .basic-bill .list-function .icon-item {
          width: 100%;
          position: relative;
          display: inline-grid;
          align-items: center;
          align-content: center; }
          .stop-solution-package .tabs-list-bill .content-prices-year .box-bill .basic-bill .list-function .icon-item:nth-last-child(1) {
            margin-bottom: 0; }
          .stop-solution-package .tabs-list-bill .content-prices-year .box-bill .basic-bill .list-function .icon-item i {
            width: 22px;
            height: 22px;
            text-align: center;
            border-radius: 50%;
            background: #83C87F;
            line-height: 18px;
            position: absolute; }
            .stop-solution-package .tabs-list-bill .content-prices-year .box-bill .basic-bill .list-function .icon-item i::before {
              color: white;
              font-size: 10px; }
          .stop-solution-package .tabs-list-bill .content-prices-year .box-bill .basic-bill .list-function .icon-item span {
            font-family: inter, sans-serif;
            padding-left: 32px;
            float: left;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden; }
    .stop-solution-package .tabs-list-bill .content-prices-year .box-bill .prices-year-month {
      border-top: 1px solid #e8e8e86b;
      min-height: 100px; }
      .stop-solution-package .tabs-list-bill .content-prices-year .box-bill .prices-year-month .prices-bill-month {
        text-align: center;
        padding-top: 24px; }
        .stop-solution-package .tabs-list-bill .content-prices-year .box-bill .prices-year-month .prices-bill-month h3 {
          font-size: 24px;
          color: #4BADED;
          font-weight: 600;
          margin-bottom: 0; }
          .stop-solution-package .tabs-list-bill .content-prices-year .box-bill .prices-year-month .prices-bill-month h3 span {
            color: #7A8287;
            font-weight: 200; }
      .stop-solution-package .tabs-list-bill .content-prices-year .box-bill .prices-year-month .btn-action {
        margin-top: 30px;
        margin-bottom: 42px; }
        .stop-solution-package .tabs-list-bill .content-prices-year .box-bill .prices-year-month .btn-action .btn-common-site {
          margin-top: 0;
          padding: 14px 60px; }
        .stop-solution-package .tabs-list-bill .content-prices-year .box-bill .prices-year-month .btn-action .btn-common-site-1 {
          margin-top: 0;
          padding: 14px 60px; }
        .stop-solution-package .tabs-list-bill .content-prices-year .box-bill .prices-year-month .btn-action .btn-common-site-2 {
          font-size: 14px;
          padding: 14px 60px;
          text-transform: uppercase;
          font-weight: 700; }
  .stop-solution-package .tabs-list-bill .content-prices-year .bg-bill-pro {
    background-color: #4BADED; }
    .stop-solution-package .tabs-list-bill .content-prices-year .bg-bill-pro .name-bill-top .name-bill {
      padding-left: 30px; }
      .stop-solution-package .tabs-list-bill .content-prices-year .bg-bill-pro .name-bill-top .name-bill h6 {
        padding: 0;
        margin: 0;
        padding-top: 12px;
        font-weight: 700;
        line-height: 14px;
        color: white; }
      .stop-solution-package .tabs-list-bill .content-prices-year .bg-bill-pro .name-bill-top .name-bill span {
        font-size: 13px;
        color: white; }
.stop-solution-package .color-white {
  color: white !important; }
.stop-solution-package .nav-pills .nav-link {
  background-color: white;
  border: 1px solid #4BADED;
  color: #4BADED;
  border-radius: 0;
  padding: 13px 60px; }
.stop-solution-package .nav-pills .nav-link.active, .stop-solution-package .nav-pills .show .nav-link {
  background-color: #4BADED;
  border: 1px solid #4BADED;
  color: white;
  border-radius: 0;
  padding: 10px 60px; }

img.icon-title {
  width: 120px !important;
  position: absolute;
  top: 21px;
  right: 36px; }

/*========================== Section Career Detail ==================*/
.section-career-detail .content-detail-left .btn-common-site {
  padding: 14px 77px; }
.section-career-detail .info-right {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px;
  margin-top: 0;
  position: relative;
  border-radius: 2px; }
  .section-career-detail .info-right .form-info-contact h6 {
    font-weight: 600;
    font-size: 20px;
    color: #4BADED; }
  .section-career-detail .info-right .form-info-contact .form-control {
    height: calc(2em + .75rem + 2px); }
  .section-career-detail .info-right .form-info-contact textarea {
    height: 120px !important; }
  .section-career-detail .info-right .form-info-contact a {
    width: 100%;
    padding: 8px 0;
    display: inline-block;
    width: 100%; }

.modal-header h6.tiltle-form {
  font-size: 20px;
  text-transform: uppercase; }

.hs-form-c74d7dce-735a-4c46-8d97-79806ee28129_a793fa81-9201-418f-acda-e67bf6d5a4b5 .hs-button {
  white-space: pre-wrap;
  background: #4baded !important;
  border: 0 !important;
  width: 100% !important;
  height: 50px !important;
  text-transform: uppercase !important;
  font-size: 16px !important; }

/* ========================= Section Kompa can help! =========================  */
.section-kompa-can-help {
  float: left; }
  .section-kompa-can-help .kompa-can-help-content h2 {
    color: white;
    text-align: center;
    font-weight: 600;
    max-width: 80%;
    margin: auto; }
  .section-kompa-can-help .kompa-can-help-content p {
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: white;
    padding: 30px 0; }
  .section-kompa-can-help .kompa-can-help-content .btn-action .btn-common-site-2 {
    font-size: 16px;
    font-weight: 900;
    background: #B2E151;
    display: inline-flex;
    align-items: center;
    height: 50px;
    padding: 10px 48px; }
    .section-kompa-can-help .kompa-can-help-content .btn-action .btn-common-site-2 span {
      padding-left: 10px; }
  .section-kompa-can-help .kompa-can-help-content .text-des {
    max-width: 600px;
    margin: auto;
    text-align: center;
    padding-top: 30px; }
    .section-kompa-can-help .kompa-can-help-content .text-des span {
      color: white; }

.breadcrumbs {
  position: absolute;
  left: 0;
  top: 70px;
  padding: 0;
  width: 100%;
  z-index: 1; }
  .breadcrumbs i {
    color: #8692A6; }
    .breadcrumbs i:before {
      font-size: 10px; }
  .breadcrumbs a {
    color: #8692A6;
    font-size: 13px; }

/* ========================= Section footer =========================  */
footer {
  padding: 50px;
  display: inline-block;
  width: 100%;
  background-color: #F5F8FA;
  text-align: center; }
  footer a {
    color: #313131;
    margin: 0 20px; }
  footer .socical a {
    margin: 0 5px; }
  footer .link-footer {
    width: 100%;
    margin: 0;
    padding: 0;
    clear: both; }
    footer .link-footer .box-link-food {
      display: flex;
      margin-bottom: 20px; }
      footer .link-footer .box-link-food ul {
        width: 25%;
        text-align: left; }
        footer .link-footer .box-link-food ul h6 {
          margin-bottom: 10px;
          font-weight: 600; }
        footer .link-footer .box-link-food ul li {
          list-style: none;
          padding-bottom: 10px; }
          footer .link-footer .box-link-food ul li a {
            font-size: 13px;
            color: #7A8287;
            text-decoration: none;
            transition: 0.5s;
            padding-left: 0;
            margin-left: 0; }
            footer .link-footer .box-link-food ul li a:hover {
              color: #4BADED;
              text-decoration: underline; }
  footer .bottom-footer {
    border-top: 1px solid #E8E8E8;
    padding-top: 20px; }
    footer .bottom-footer .infor-footer {
      text-align: center; }
      footer .bottom-footer .infor-footer a {
        font-size: 12px;
        margin: 0 5px;
        color: #7A8287;
        text-decoration: underline; }
    footer .bottom-footer .socical a i {
      width: 30px;
      height: 30px;
      background: #E4E4E4;
      border-radius: 50%;
      padding: 8px;
      color: #636F75; }
      footer .bottom-footer .socical a i:hover {
        background: #4BADED;
        color: white; }
  footer .copyright {
    text-align: center; }
    footer .copyright p {
      color: #7A8287;
      font-size: 12px;
      padding-top: 20px; }

.section-how-we-define .title-page {
  color: white; }
.section-how-we-define .we-define {
  display: flex; }
  .section-how-we-define .we-define .col-we-define-40 {
    width: 40%; }
    .section-how-we-define .we-define .col-we-define-40 .icon-we-define {
      display: flex; }
      .section-how-we-define .we-define .col-we-define-40 .icon-we-define .icon-we-define-1 {
        position: relative;
        display: flex;
        width: 100%;
        justify-content: center; }
        .section-how-we-define .we-define .col-we-define-40 .icon-we-define .icon-we-define-1 img {
          height: 100px; }
        .section-how-we-define .we-define .col-we-define-40 .icon-we-define .icon-we-define-1 .icon-small-plus {
          position: absolute;
          height: 100%;
          display: flex;
          align-items: center;
          left: -21px; }
          .section-how-we-define .we-define .col-we-define-40 .icon-we-define .icon-we-define-1 .icon-small-plus .arrow-right {
            display: none; }
          .section-how-we-define .we-define .col-we-define-40 .icon-we-define .icon-we-define-1 .icon-small-plus img {
            width: 44px; }
    .section-how-we-define .we-define .col-we-define-40 .text-we-define {
      margin-top: 50px; }
      .section-how-we-define .we-define .col-we-define-40 .text-we-define .line-center {
        border-bottom: 1px solid #fff;
        width: 60%;
        margin: auto;
        height: 13px;
        position: relative; }
        .section-how-we-define .we-define .col-we-define-40 .text-we-define .line-center::before {
          border-left: 1px solid #fff;
          content: "";
          position: absolute;
          height: 12px;
          top: 7px; }
        .section-how-we-define .we-define .col-we-define-40 .text-we-define .line-center::after {
          border-right: 1px solid #fff;
          content: "";
          position: absolute;
          right: 0;
          height: 12px;
          top: 7px; }
      .section-how-we-define .we-define .col-we-define-40 .text-we-define p {
        text-align: left;
        width: 94px;
        margin: auto;
        color: white;
        margin-top: 30px; }
  .section-how-we-define .we-define .col-we-define-20 {
    width: 20%; }
    .section-how-we-define .we-define .col-we-define-20 .icon-we-define-2 {
      position: relative;
      display: flex;
      width: 100%;
      justify-content: center; }
      .section-how-we-define .we-define .col-we-define-20 .icon-we-define-2 img {
        height: 100px; }
      .section-how-we-define .we-define .col-we-define-20 .icon-we-define-2 .icon-small-plus {
        position: absolute;
        height: 100%;
        display: flex;
        align-items: center;
        left: -21px; }
        .section-how-we-define .we-define .col-we-define-20 .icon-we-define-2 .icon-small-plus img {
          width: 44px; }
    .section-how-we-define .we-define .col-we-define-20 .text-we-define {
      margin-top: 50px; }
      .section-how-we-define .we-define .col-we-define-20 .text-we-define .line-center {
        border-bottom: 1px solid #fff;
        width: 60%;
        margin: auto;
        height: 13px;
        position: relative; }
        .section-how-we-define .we-define .col-we-define-20 .text-we-define .line-center::before {
          border-left: 1px solid #fff;
          content: "";
          position: absolute;
          height: 12px;
          top: 7px; }
        .section-how-we-define .we-define .col-we-define-20 .text-we-define .line-center::after {
          border-right: 1px solid #fff;
          content: "";
          position: absolute;
          right: 0;
          height: 12px;
          top: 7px; }
      .section-how-we-define .we-define .col-we-define-20 .text-we-define p {
        text-align: left;
        width: 94px;
        margin: auto;
        color: white;
        margin-top: 30px; }

.section-our-commitment .item {
  position: relative;
  padding-bottom: 50px;
  min-height: 173px;
  display: flex;
  align-items: center; }
  .section-our-commitment .item:nth-last-child(1) {
    padding-bottom: 0; }
  .section-our-commitment .item .icon {
    width: 123px;
    height: 123px;
    position: absolute;
    border: 1px solid #48A7E8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 84px;
    color: #4BADED;
    font-weight: 700; }
  .section-our-commitment .item .item-description {
    padding-left: 153px; }
    .section-our-commitment .item .item-description h4 {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      color: #4BADED; }
    .section-our-commitment .item .item-description p {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      max-width: 723px; }

@media only screen and (max-width: 950px) {
  .section-how-we-define .we-define {
    display: block; }
    .section-how-we-define .we-define .col-we-define-40 {
      width: 100%;
      display: flex;
      align-items: center; }
      .section-how-we-define .we-define .col-we-define-40 .icon-we-define {
        display: block;
        width: 100px; }
        .section-how-we-define .we-define .col-we-define-40 .icon-we-define .icon-we-define-1 {
          padding: 30px 0; }
          .section-how-we-define .we-define .col-we-define-40 .icon-we-define .icon-we-define-1 img {
            height: 48px; }
          .section-how-we-define .we-define .col-we-define-40 .icon-we-define .icon-we-define-1 .icon-small-plus {
            left: auto;
            top: -57px; }
          .section-how-we-define .we-define .col-we-define-40 .icon-we-define .icon-we-define-1 .arrow-right {
            transform: rotate(90deg); }
      .section-how-we-define .we-define .col-we-define-40 .text-we-define {
        margin-top: 0; }
        .section-how-we-define .we-define .col-we-define-40 .text-we-define .line-center {
          display: none; }
        .section-how-we-define .we-define .col-we-define-40 .text-we-define p {
          text-align: left;
          width: auto;
          margin: auto;
          color: white;
          margin-top: 0; }
          .section-how-we-define .we-define .col-we-define-40 .text-we-define p br {
            display: none; }
    .section-how-we-define .we-define .col-we-define-20 {
      width: 100%;
      display: flex;
      align-items: center; }
      .section-how-we-define .we-define .col-we-define-20 .icon-we-define-2 {
        display: flex;
        width: 100px;
        padding: 30px 0; }
        .section-how-we-define .we-define .col-we-define-20 .icon-we-define-2 img {
          height: 48px; }
        .section-how-we-define .we-define .col-we-define-20 .icon-we-define-2 .icon-small-plus {
          left: auto;
          top: -57px; }
          .section-how-we-define .we-define .col-we-define-20 .icon-we-define-2 .icon-small-plus img {
            width: 44px; }
        .section-how-we-define .we-define .col-we-define-20 .icon-we-define-2 .arrow-right {
          transform: rotate(90deg); }
      .section-how-we-define .we-define .col-we-define-20 .text-we-define {
        margin-top: 0; }
        .section-how-we-define .we-define .col-we-define-20 .text-we-define .line-center {
          display: none; }
        .section-how-we-define .we-define .col-we-define-20 .text-we-define p {
          text-align: left;
          width: auto;
          margin: auto;
          color: white;
          margin-top: 0; }
          .section-how-we-define .we-define .col-we-define-20 .text-we-define p br {
            display: none; }

  .section-our-commitment .item .icon {
    width: 90px;
    height: 90px;
    font-size: 60px; }

  .section-our-commitment .item .item-description {
    padding-left: 110px; }

  .section-our-commitment .item .item-description h4 {
    padding-top: 9px; }

  .section-our-commitment .item {
    min-height: 149px; } }
.info-right {
  position: relative;
  display: inline-block;
  width: 100%; }

.btn-hide-show {
  position: absolute;
  right: 15px;
  top: 31;
  border: 0;
  outline: none !important;
  border: 0 !important;
  background: none; }
  .btn-hide-show span {
    display: none; }
    .btn-hide-show span img {
      margin-left: 0px; }
    .btn-hide-show span.active {
      display: flex; }
    .btn-hide-show span.hide-btn img {
      rotate: 180deg; }

.form-contact-right.hide {
  display: none; }

.search-blogs {
  display: flex;
  align-items: center;
  max-width: 520px;
  width: 100%;
  position: relative;
  border-radius: 2px;
  height: 75px;
  border: 1px solid #CFCFCF;
  background: #FFF;
  padding-left: 50px;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.15); }
  .search-blogs img {
    position: absolute;
    left: 15px;
    top: 23px; }
  .search-blogs input {
    height: 100%;
    border: 0;
    width: 100%;
    font-size: 16px; }
    .search-blogs input::placeholder {
      color: #58595B;
      font-size: 16px;
      display: inline-block;
      width: 100%; }

.search-detail-blogs {
  height: 64px;
  border-radius: 2px;
  border: 1px solid var(--gray, #B6B6B6);
  background: #FFF;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  display: inline-block;
  width: 100%;
  margin-bottom: 30px; }

.search-blogs img {
  top: 19px; }

/*# sourceMappingURL=style.css.map */
