@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
$blue-text:#4BADED;
$text:#313131;
$text-alpha:#7A8287;
$gradient-color: linear-gradient(90deg, #2F7DF7 0%, #0AE5FF 100%);
$border:#E8E8E8;
$bg-gray: #F5F8FA;


@import './css-import/list-page';
h1{
	font-size: 55px;
	font-weight: 600 !important;
}
h2{
	font-size: 32px;
	font-weight: 600 !important;
}
h3{
	font-size: 28px;
	
}
h4{
	font-size: 24px;
	
}
h5{
	font-size: 20px;
	font-weight: 600;
}
h6{
	font-size: 18px;
	font-weight: 600;
}
p{
	font-size: 16px;
}
strong, b, span, i, label{
	font-size: 14px;
}
body {
	font-family: 'Roboto', sans-serif;
	color: $text;
	font-weight: 400;
	padding: 0;
	font-size: 16px;
	margin: 0;
	width: 100%;
	line-height: 1.6;
}
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: none;
	text-decoration: none;
}

  a{
	  &:hover{
		  text-decoration: none;
	  }
  }
.container{
	max-width: 1200px;
}
.btn-common{
	display: inline-block;
	background: transparent;
	padding: 14px 77px;
    color: white;
	text-align: center;
	transition: all .3s ease-in-out;
	font-size: 16px;
	font-weight: 900;
	border: 1.5px solid $blue-text;
	color: $blue-text;
	text-transform: uppercase;
	border-radius: 2px;
	i{
		margin-left: 5px;
	}
	&:hover{
		opacity: 0.8;
		color: white;
		background: $blue-text;
	}
}
.btn-common-site{
	display: inline-block;
	background: $blue-text;
    padding: 10px 40px;
    color: white;
	text-align: center;
	transition: all .3s ease-in-out;
	font-size: 14px;
	border: 1.5px solid $blue-text;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 2px;
	i{
		margin-left: 5px;
		font-size: 13px;
	}
	&:hover{
		opacity: 0.8;
		color: $blue-text;
		background: transparent;
	}
}
.btn-common-site-1{
	display: inline-block;
	background: transparent;
    padding: 10px 30px;
    color: white;
	text-align: center;
	transition: all .3s ease-in-out;
	font-size: 16px;
	border: 1.5px solid white;
	text-transform: uppercase;
	font-weight: 900;
	margin-top: 20px;
	margin-right: 10px;
	justify-content: center;
	border-radius: 2px;
	i{
		margin-left: 5px;
	}
	&:hover{
		opacity: 0.8;
		color: white;
		background: $blue-text;
		border: 1.5px solid $blue-text;
	}
}
.name-bill{
	h6, h5{
		font-size: 20px;
		font-weight: 900 !important;
	}
}
.btn-common-site-2{
	display: inline-block;
	background: #85C86F;
    padding: 7px 50px 5px 50px;
    color: white;
	text-align: center;
	transition: all .3s ease-in-out;
	font-size: 18px;
	border: 0;
	text-transform: uppercase;
	font-weight: 700;
	border-radius: 2px;
	.button-hotline{
		display: flex;
		align-items: center;
		align-content: center;
		font-size: 22px;
		font-weight: 600;
		justify-content: center;
		span{
			padding-right: 5px;;
		}
	}
	i{
		margin-left: 5px;
	}
	&:hover{
		opacity: 0.8;
		color: white;
		background: $blue-text;
		border: 0;
	}
}
section{
	padding: 55px 0;
	display: inline-block;
	width: 100%;
}

.title-section{
		display: inline-block;
		width: 100%;
		font-weight: 600;
		text-align: center;
		a{
			color: $text;
			align-items: flex-start;
			img{
				height: 40px;
				margin: 0 10px 10px 10px;
			}
		}
	

}

.title-page{
	display: inline-block;
	width: 100%;
	font-weight: 900;
	text-align: center;
}

a{
	text-decoration: none;
}
.section-Customizable-Campaign{
	table{
		min-width: 800px;
		thead{
			th{
				border: 1px solid white !important;
				background: $blue-text;
				border: 0;
				color: white;
				padding: 10px 40px;
				font-weight: 700;
				font-size: 20px;
			}
		}
		tr{
			td{
				padding: 20px 40px;
				p{
					font-size: 16px;
					color: $text;
					line-height: 30px;
					margin-bottom: 0;
					padding: 10px 0;
					position: relative;
					padding-left: 20px;
					&::before{
						position: absolute;
						left: 0;
						top: 22px;
						width: 6px;
						height: 6px;
						border-radius: 50%;
						background: $blue-text;
						display: inline-block;
						content: '';
					}
					&:nth-last-child(1){
						border-bottom: 0;
					}
				}
				h6{
					font-size: 20px;
					color: $blue-text;
					text-transform: uppercase;
				}
			}
		}
	}
}
.flex-center{
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}
.mt-10 {
	margin-top: 10px;
}

.mt-20 {
	margin-top: 20px;
}

.mt-30 {
	margin-top: 30px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-50 {
	margin-top: 50px;
}

.mt-60 {
	margin-top: 60px;
}

.mt-70 {
	margin-top: 70px;
}

.mb-10 {
	margin-bottom: 10px;
}
.pr-100{
	padding-right: 70px;
}
.pl-100{
	padding-left: 70px;
}
.mb-20 {
	margin-bottom: 20px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mb-60 {
	margin-bottom: 60px;
}

.mb-70 {
	margin-bottom: 70px;
}

.m10 {
	margin: 10px;
}

.m15 {
	margin: 15px;
}

.m20 {
	margin: 20px;
}

.m25 {
	margin: 25px;
}

.m30 {
	margin: 30px;
}

.m35 {
	margin: 35px;
}

.m40 {
	margin: 40px;
}

.m45 {
	margin: 45px;
}

.m50 {
	margin: 50px;
}

.m55 {
	margin: 55px;
}

.m60 {
	margin: 60px;
}

.m65 {
	margin: 65px;
}

.m70 {
	margin: 70px;
}

.ml-0 {
	margin-left: 0;
}

.mr-0 {
	margin-right: 0;
}

.mt-0 {
	margin-top: 0;
}

.mb-0 {
	margin-bottom: 0;
}

.p10 {
	padding: 10px;
}

.p15 {
	padding: 15px;
}

.p20 {
	padding: 20px;
}

.p25 {
	padding: 25px;
}

.p30 {
	padding: 30px;
}

.p35 {
	padding: 35px;
}

.p40 {
	padding: 40px;
}

.p45 {
	padding: 45px;
}

.p50 {
	padding: 50px;
}

.p55 {
	padding: 55px;
}

.p60 {
	padding: 60px;
}

.p65 {
	padding: 65px;
}

.p70 {
	padding: 70px;
}

.pl-0 {
	padding-left: 0;
}

.pr-0 {
	padding-right: 0;
}

.pt-0 {
	padding-top: 0;
}

.pb-0 {
	padding-bottom: 0;
}
.pd-left{
    padding-left: 30px;
}
.pd-right{
    padding-right: 30px;
}
.center{
	text-align: center;
}
.language{
	display: none;
}
.avatar-thumb{
	display: inline-block;
    width: 100%;
	a{
		position: relative;
		padding-top: 143%;
		display: block;
		img{
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			left: 0;
			top: 0;
		}
	}
	
}
.btn-action{
	display: inline-block;
	width: 100%;
	button{
		outline: none;
	}
}

header{
	display: inline-block;
	width: 100%;
	position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    left: 0;
	padding: 8px 10px;
	background: transparent;
	&.active{
		background: white !important;
	}
	.width-menu{
		width: 98%;
		margin: auto;
	}
}

.content-webinars.center{
    p{
		font-size: 16px;
        color: $text-alpha !important;
    }
}
.content-head{
	display: flex;
	justify-content: space-between;
	.logo{
		display: flex;
		align-items: center;
		img{
			padding: 1px 0;
			max-height:50px;
		}
	}
	nav{
		display: flex;
		align-content: center;
		-ms-flex-pack: center !important;
		-ms-flex-align: center !important;
		align-items: center !important;
		transition: all .3s ease-in-out;
		padding: 0;
		ul{
			display: flex;
			align-content: center;
			-ms-flex-pack: center !important;
			-ms-flex-align: center !important;
			align-items: center !important;
			transition: all .3s ease-in-out;
			margin-bottom: 0;
			li{
				list-style: none;
				a{
					color: $text;
					font-weight: 600;
					text-decoration: none;
					padding: 7px 15px;
					&:hover{
						color: $blue-text;
					}
				}
				
			}
		}
	}
}
/*-------------------------menu---------------------------*/

.content-head .menu nav>ul>li.submenu>ul {
	justify-content: center;
	margin-bottom: 0;
    display: inherit !important;
}

.menu nav ul>li>a {
	
	&::before {
		content: "\e64b";
		display: inline-block;
		font-family: 'themify';
		font-size: 9px;
		font-weight: 100;
		position: absolute;
		right: 0;
		top: 3px;
        
	}
    &::before:last-child(1){
        display: none;
    }
}
.menu nav ul>li>button.book-meeting{
	background: #59B078;
	border-radius: 2px;
	padding: 10px 18px;
	color: white;
	outline: none;
	border: none;
}
.content-detail-left.reinventing-work{
	img{
		margin-bottom: 15px;
		width: 100%;
		height: auto !important;
	}
	ul{
		padding-left: 15px !important;
	}
}
.wp-caption.aligncenter{
	margin: auto !important;
}
.form-contact-right{
	input{
		width: 100%;
		border-radius: 2px;
		height: 45px;
		font-size: 14px;
		display: inline-block;
		padding: 15px;
		border: 1px solid $border;
	}
}
.title-job-apply{
	b{
		display: inline-block;
		width: 100%;
		font-size: 15px;
		color: $blue-text;
		margin-bottom: 20px;
	}
}
.textarea-filed{
	textarea{
		width: 100%;
		border-radius: 2px;
		font-size: 14px;
		height: 100px;
		display: inline-block;
		padding: 15px;
		border: 1px solid $border;
	}
}
.upload-File{
	position: relative;
	height: 45px;
	display: flex;
	align-items: center;
	padding-left: 14px;
	border: 1px solid $border;
	input{
		font-size: 14px;
		border: 0;
		padding: 0;
		height:initial !important;
	}
	&::before{
		background: url(../images/attach.svg) no-repeat;
		width: 20px;
		height: 20px;
		display: inline-block;
		content: '';
		position: absolute;
		left: 14px;
		
		top: 9px;
	}
	[type="file"] {
		/* Style the color of the message that says 'No file chosen' */
		  color: #878787;
		}
		[type="file"]::-webkit-file-upload-button {
		  background: #fff;
		  border-radius: 2px;
		  border: 0;
		  color: $blue-text;
		  cursor: pointer;
		  font-size: 12px;
		  outline: none;
		  padding: 10px 25px;
		  text-transform: uppercase;
		  transition: all 1s ease;
		}
		
}
.content-detail-left.reinventing-work h3{
	font-size:initial;
		font-weight: 700 !important;
		margin-bottom: 15px;
		display: inline-block;
		width: 100%;
}
.col-md-8 .content-detail-left{
	text-align: justify;
	img{
		height: auto !important;
	}
	strong, b, span, i, label {
		font-size: inherit;
	}
}
.numbers-countdown{
	display: flex;
	width: 100%;
	justify-content: center;
	label{
		font-size: 30px;
		color: #4BADED;
		padding-top: 20px;
		font-weight: 600;
	}
}
.page-headDetail-webinars{
	padding-top: 140px;
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
}
.section-ai-machine-learning{
	h3{
		&.mb-0{
			margin-bottom: 10px !important;
		}
	}
}
.menu {
	position: relative;
	z-index: 1;
    display: flex;
    align-items: center;

	nav {
		ul {
			padding: 0;

			li {
				position: relative;
				list-style: none;
				padding: 5px 0;

				i {
					display: none;
				}

				a {
					padding: 0 20px;
					position: relative;
				}

				ul {
					position: absolute;
					top: 35px;
					padding: 8px 0;
					width: 300px;
					left: 0;
					opacity: 0;
					visibility: hidden;
					background: white;
					box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
					border-radius: 2px;
					padding: 5px 8px;

					li {
						padding: 5px;
						transition: all 0.3s linear;
						a {
							display: inline-block;
							width: 100%;
							font-weight: normal;
							padding: 8px 5px;
							font-size: 14px;
							transition: 0.5s;
							
							&::before {
								display: none;
							}

							&:hover {
								color: $blue-text;
								background: $bg-gray;
								padding-left: 12px;
								border-radius: 2px;
							}
						}

					}
				}

				&:hover {
					ul {
						opacity: 1;
						visibility: initial;
					}
				}

				&.active {
					a {
						color: $blue-text;
					}

					ul {
						li {
							a {
								color: $text;
								
								&:hover, &.active {
									color: $blue-text  !important;
								}
								
							}
							
						}
					}
				}
			}
		}
	}
}
.content-head .menu nav > ul > li.submenu > ul{
	list-style-type: none !important;
	left: 18px;
}
/* -------Sticky menu srcoll----- */
.menu-scroll {
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
	position: fixed; 
	left: 0;
	top: 0;
	z-index: 2;
	background: white;

	nav {
		padding: 0 !important;
	}

	
}
.phone-call {
	display: none;
    width: 80px;
    height: 80px;
    right: 20px;
    bottom: 20px;
    background-color: #59B078;
    position: fixed;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    border-radius: 50%;
    z-index: 99;
  line-height: 65px;
  span{
	line-height: 19px;
    display: inline-block;
    text-align: center;
    font-size: 14px;
  }
}
.icon-phone{
    width: 100%;
    text-align: center;
    float: left;
    margin-top: 8px;
    margin-bottom: -4px;
}
.phone-call:before {
    position: absolute;
    content: " ";
    z-index: -1;
    top: -15px;
    left: -15px;
    background-color: #59B078;
    width:110px;
    height: 110px;
    border-radius: 100%;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    opacity: 0.6;
    -webkit-animation: pulse .5s ease-out;
    animation: pulse 1.1s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0);
        opacity: 0;
    }
    25% {
        -webkit-transform: scale(0.3);
        opacity: 1;
    }
    50% {
        -webkit-transform: scale(0.6);
        opacity: .6;
    }
    75% {
        -webkit-transform: scale(0.9);
        opacity: .3;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0;
    }
}

@keyframes pulse {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    25% {
        transform: scale(0.3);
        opacity: 1;
    }
    50% {
        transform: scale(0.6);
        opacity: .6;
    }
    75% {
        transform: scale(0.9);
        opacity: .3;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}
section{
	overflow: hidden;
}
h3{
	a{
		color: $text;
	}
}
.no-sub a {

	&::after,
	&::before {
		display: none !important;
	}
}
.section-why-join-page{
    border: none !important;
}
.menu nav ul > li > a:nth-last-child(1)::before{
    display: none;
}

.title-section{
	display: inline-block;
	width: 100%;
	font-weight: 600;
	text-align: center;
	a{
		color: $text;
		align-items: flex-start;
		img{
			height: 40px;
			margin: 0 10px 10px 10px;
		}
	}


}
.content-site{
	padding-left: 80px;
	h2{
		padding-top: 0;
		padding-bottom: 15px;
		font-weight: 600;
	}
}
.hinh-anh-Social{
	width: 100%;
	img{
		width: 100%;
	}
}

.sticky-box .form-contact-right{
	ul{
		li{
			list-style: none;
		}
	}
}
/* ========================= Section banner ===================== */
.section-banner-top{
	display: inline-block;
	width: 100%;
	padding-bottom: 0;
	position: relative;
	padding-top: 0;
	.item-slider{
		position: relative;
		.slider-PC{
			width: 100%;
			display: block;
		}
		.body-content-slider {
			top: 0;
			position: absolute;
			width: 100%;
			left: 0;
			display: flex;
			align-items: center;
			height: 100%;
			.container{
				max-width: 90%;
			}
		}
		.content-slider{
			width: 50%;
   			display: inline-block;
			h1{
				font-weight: 600;
				color: $blue-text;
				display: -webkit-box;
				-webkit-line-clamp: 4;
				-webkit-box-orient: vertical;
				overflow: hidden;
				padding: 0;
			}
			p{
				display: -webkit-box;
				-webkit-line-clamp: 4;
				-webkit-box-orient: vertical;
				overflow: hidden;
				font-size: 20px;
				color: #58595B;
				margin-top: 15px;
			}
		}
		.slide-MB {
			display: none !important;
		}
	}
	&.head-page{
		.body-content-slider{
			padding-top: 90px !important;
		}
		.body-content-slider{
			.container{
				max-width: 1200px;
			}
		}
	}
}

/* ========================= Section Features that you'll appreciate ===================== */
.section-Features-appreciate{
	.title-page{
		h2{
			font-weight: 600;
			padding-bottom: 20px;
    		margin-bottom: 0;
		}
	}
	.tabs-features-appreciate{
		.col-md-4{
			display: flex;
			align-items: center;
		}
		nav{
			border-bottom: 2px solid $border;
		.nav.nav-tabs{
			flex-wrap: nowrap;
			border: none;
			text-align: center;
			justify-content: center;
			.nav-link{
				border-top: 0;
				border-right: 0;
				border-left: 0;
			}
			.nav-item{
				margin-bottom: -2px;
			}
			a{
				font-size: 16px;
				padding: 10px 15px;
				color: $text;
				&:hover, &:focus, &.active{
					border: none;
					border-bottom: 2px solid $blue-text;
					color: $blue-text;
				}
			}
		}
	}
	
	}
}

/* ========================= Section Data coverage =========================  */
.section-data-coverage{
	background-color: #F5F8FA;	
	.row{
		align-items: center;
	}
}
/* ========================= Section AI & Machine learning =========================  */
.section-ai-machine-learning{
	background-color: #fff;
	.content-site{
		padding-left: 0 !important;
		padding-right: 80px;
	}	
	.row{
		align-items: center;
	}
}
/* ========================= Section customize =========================  */
.section-customize{
	background-color: #F5F8FA;	
	.row{
		align-items: center;
	}
}
/* ========================= Section Growth your brand with Data =========================  */
.section-growth-your{
	.growth-your-brand{
		padding: 30px 0;
		h2{
			color: white;
			text-align: center;
		}
	}
}
/* ========================= Section think-customer =========================  */
.think-customer{
	display: inline-block;
	width: 100%;
	padding-bottom: 0 !important;
	background: white;
	.cam-nhan-khach-hang{
		padding-bottom: 0;
		margin-bottom: 0;
		.title-page{
			h2{
				font-weight: 600;
			}
		}	
		.title-section{
			margin: 0;
		}
		.icon-img{
			text-align: center;
			width: 40px;
			height: 40px;
			margin: auto;
		}
		.noi-dung-cam-nhan{
			padding: 20px 0;
		}
		.content-cam-nhan{
			width: 750px;
			margin: auto;
			text-align: center;
			.box-cam-nhan{
			border-radius: 2px;
			width: 96%;
			margin: 20px auto;
			padding: 20px;
			min-height: 230px;
			margin-bottom: 0;
			.owl-theme .owl-dots .owl-dot span {
				width: 6px !important;
				height: 6px !important;
				margin: 5px 7px;
				background: #D6D6D6;
				display: block;
				-webkit-backface-visibility: visible;
				transition: opacity .2s ease;
				border-radius: 30px;
			}
			}
		}
		.info-khach{
			width: 100%;
			.info-khach-hang{
				display: flex;
				justify-content: center;
				.avatar-kh{
					width: 80px;
					height: 80px;
					padding: 0 10px 0 0;
					img{
						width: 100%;
						max-height: 100%;
					}
					h4{
						font-weight: 600;
					}
					p{
						font-weight: 400;
					}
	
				}
				.name-tile-kh{
					h4{
						font-weight: 600;
						text-align: left;
						padding-bottom: 0;
						margin-bottom: 5px;
						font-size: 18px;
						margin-top: 15px;
						color: $blue-text;
					}
					p{
						font-weight: 400;
						text-align: left;
						color: #636F75;
						font-size: 13px;
					}
				}
			}
		}
		.bg-cam-nhan{
			width: 100%;
			text-align: center;
		}
	}
}
.img-news-left{
	position: absolute;
	right: 0;
	width: 250px;
	border-radius: 2px;
	overflow: hidden;
	top: 0;
}
.news-page{
.news{
	.left-news{
		.list-news-left-ad{
			position: relative;
			padding-right: 290px;
			margin-bottom: 20px;
			min-height: 190px;
		}
		.list-news-left{
			position: relative;
			h4{
				a{
					color: $text;
				}
			}
			
			p{
				color: $text-alpha;
				margin-top: 10px;
				margin-bottom: 0;
			}
			
			a{
				color: $text-alpha;
				text-decoration: none;
				h4{
					font-size: 20px;
					font-weight: 700;
					color: $text;
					padding: 0;
					margin: 0;
					padding-bottom: 10px;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					overflow: hidden;
					&:hover{
						color: $blue-text;
					}
				}
				.date-cate{
					width: 100%;
					float: left;
					margin: 0;
					color: $text-alpha;
					padding-bottom: 5px;
					span{
						color: $text-alpha;
						padding: 0;
					}
					b{
						color: $text-alpha;
					}
				}
				p{
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					overflow: hidden;
					width: 100%;
				}
			}
		}
		.img-news-left{
			a{position: relative;
				padding-top: 65%;
				display: block;
				img{
					position: absolute;
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
					left: 0;
					top: 0;
				}
			}
		}
	}
	.right-news{
		padding-left: 50px;
		
		b{
			a{
				color: $text-alpha !important;
			}
		}
		.items-news-right{
			display: flex;
			margin-bottom: 20px;
			.number-news-right{
				font-size: 28px;
				font-weight: 400;
				color: #B0CE93;
				padding: 0 20px 0 0;
				margin: 0;
			}
			.text-news-right{
				a{
					color: $text;
					text-decoration: none;
					h4{
						font-size: 18px;
						font-weight: 700;
						margin-bottom: 5px;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
						overflow: hidden;
					}
				}
				.date-cate{
					width: 100%;
					float: left;
					margin: 0;
					color: $text-alpha;
					span{
						color: $text-alpha;
						padding: 0;
					}
					b{
						color: $text-alpha;
					}
				}
			}
		}
	}
}
}

.owl-next{
	background: none !important;
	outline: none !important;
	span{
		width: 50px;
		font-size: 0px;
		color: white;
		height: 50px;
		background: url(../images/next-slide.svg) no-repeat center top;
		display: inline-block;
		position: absolute;
		top: 40%;
		background-size: cover;
		right: -20px;
	}
	&:hover{
		opacity: .7;
	}
}
.owl-prev{
	background: none !important;
	outline: none !important;
	span{
		width: 50px;
		font-size: 0px;
		position: absolute;
		top: 40%;
		left: -20px;
		color: white;
		height: 50px;
		background: url(../images/prev-slide.svg) no-repeat center top;
		display: inline-block;
		background-size: cover;
	}
	&:hover{
		opacity: .7;
	}
}
.owl-dots{
	opacity: .4;
	span{
		width: 14px !important;
		height: 14px !important;
		border: 1px solid #ababab !important;
		outline: none;
	}
}
.owl-theme .owl-dots .owl-dot{
	outline: none;
}
/* ========================= Section Trusted By Top Brands =========================  */
.top-brands{
	.title-page{
		h2{
			font-weight: 600 ;
		}
		p{
			font-weight: 400;
			max-width: 700px;
			margin: auto;
		}
	}
	.hleft-hright{
		display: flex;
    	justify-content: space-between;
		align-items: center;
		.hleft, .hright{
			padding-top: 127px;
			max-width: 366px;
			img{
				max-width: 100%;
			}
		}
		.hmain{
			.item-main{
				display: flex;
				.item-list{
					width: 205px;
					height: 205px;
					text-align: center;
					border: 3px solid #4BADED;
					margin: 20px;
					padding: 20px;
					padding-top: 9px !important;
					border-radius: 50%;
					background: white;
					&:nth-child(2){
						margin-top: 80px;
					}
					&:nth-child(3){
						margin-top: -41px;
					}
					h1{
						font-size: 50px;
						font-weight: 700;
						color: $blue-text;
						padding-top: 13px;
						margin-bottom: 0;
						width: initial !important;
						span{
							font-size: 28px;
						}
					}
					p{
						font-size: 16px;
					}
				}
			}
		}
	}
	.logo-tops-brands{
		max-width: 900px;
		text-align: center;
		margin: auto;
		margin-top: -50px;
		img{
			padding: 0 10px;
			height: 80px;
			margin: 15px 10px;
		}
	}
}

/* ========================= Section Tin tức =========================  */
.section-news{
	background: #F5F8FA;
	.news-page{
		.title-page{
			h2{
				font-weight: 600;
			}
			p{
				font-weight: normal;
				max-width: 700px;
				margin: auto;
				padding-bottom: 50px;
			}
		}
	}
	
}
/* ========================= Section Growth your brand with One Stop Solution Package =========================  */
.stop-solution-package{
	.title-page{
		h3{
			font-weight: 600;
		}
	}
	.tabs-list-bill{
		ul{
			justify-content: center;
			align-items: center;
			.nav-item{
				margin: 0 12px;
				a{
					height: 60px;
					padding: 10px 60px;
					p{
						padding: 0;
						margin: 0;
						line-height: 15px;
						text-align: center;
						font-weight: 500;
					}
					span{
						padding-bottom: 10px;
						text-align: center;
						font-size: 13px;
					}
				}
				.cus-line{
					display: flex;
					align-items: center;
				}
			}
		}
		.content-prices-year{
			margin-top: 43px;
			.col-md-4{
				&:nth-child(2){
					.btn-action{
						a{
							&:hover{
								opacity: .8;
								border: 1.5px solid white;
							}
						}
					}
				}
			}
			.box-bill{
				box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.07);
				border-radius: 2px;
				.basic-bill{
					padding: 55px;
					padding-bottom: 20px;
					.name-bill-top{
						display: flex;
						align-items: center;
						img{
							width: 70px;
						}
						.name-bill{
							padding-left: 10px;
							h5{
								padding: 0;
								margin: 0;
								padding-top: 12px;
								font-weight: 700;
								line-height: 14px;
							}
							span{
								font-size: 13px;
								color: $text-alpha;
							}
						}
					}
					.list-function{
						margin-top: 25px;
						.icon-item{
							width: 100%;
							position: relative;
							display: inline-grid;
							align-items: center;
							align-content: center;
							&:nth-last-child(1){
								margin-bottom: 0;
							}
							i{
								width: 22px;
								height: 22px;
								text-align: center;
								border-radius: 50%;
								background: #83C87F;
								line-height: 18px;
								position:absolute;
								&::before{
									color: white;
									font-size: 10px;
								}
							}
							span{
								font-family: inter, sans-serif;
								padding-left: 32px;
								float: left;
								display: -webkit-box;
								-webkit-line-clamp: 2;
								-webkit-box-orient: vertical;
								overflow: hidden;
							}
						}
					}
				}
				.prices-year-month{
					border-top: 1px solid #e8e8e86b;
					min-height: 100px;
					.prices-bill-month{
						text-align: center;
						padding-top: 24px;
						h3{
							font-size: 24px;
							color: $blue-text;
							font-weight: 600;
							margin-bottom: 0;
							span{
								color: $text-alpha;
								font-weight: 200;
							}
						}
					}
					
					.btn-action{
						margin-top: 30px;
						margin-bottom: 42px;
						
						.btn-common-site{
							margin-top: 0;
							padding: 14px 60px;
						}
						.btn-common-site-1{
							margin-top: 0;
							padding: 14px 60px;
						}
						.btn-common-site-2{
							font-size: 14px;
							padding: 14px 60px;
							text-transform: uppercase;
							font-weight: 700;
						}
					}
				}
			}
			.bg-bill-pro{
				background-color: $blue-text;
				.name-bill-top{
					.name-bill{
						padding-left: 30px;
						h6{
							padding: 0;
							margin: 0;
							padding-top: 12px;
							font-weight: 700;
							line-height: 14px;
							color: white;
						}
						span{
							font-size: 13px;
							color: white;
						}
					}
				}
			}
		}
	}
	.color-white{
		color: white !important;
	}
	.nav-pills .nav-link{
		background-color: white;
		border: 1px solid $blue-text;
		color: $blue-text;
		border-radius: 0;
		padding: 13px 60px ;
	}
	.nav-pills .nav-link.active, .nav-pills .show .nav-link{
		background-color: $blue-text;
		border: 1px solid $blue-text;
		color: white;
		border-radius: 0;
		padding: 10px 60px;
	}
}

	img.icon-title{
		width: 120px !important;
    position: absolute;
	top: 21px;
    right: 36px;
	}

	
/*========================== Section Career Detail ==================*/
.section-career-detail{
	.content-detail-left{
		.btn-common-site{
			padding: 14px 77px;
		}
	}
	.info-right{
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
		padding: 30px;
		margin-top: 0;
		position: relative;
		border-radius: 2px;
		.form-info-contact{
			h6{
				font-weight: 600;
				font-size: 20px;
				color: $blue-text;
			}
			.form-control{
				height: calc(2em + .75rem + 2px);
			}
			textarea{
				height: 120px !important;
			}
			a{
				width: 100%;
				padding: 8px 0;
				display: inline-block;
				width: 100%;
			}
		}
	}
}
.modal-header h6.tiltle-form{
	font-size: 20px;
    text-transform: uppercase;
}
.hs-form-c74d7dce-735a-4c46-8d97-79806ee28129_a793fa81-9201-418f-acda-e67bf6d5a4b5 .hs-button {
    white-space: pre-wrap;
    background: #4baded !important;
    border: 0 !important;
    width: 100% !important;
    height: 50px !important;
    text-transform: uppercase !important;
    font-size: 16px !important;
}
/* ========================= Section Kompa can help! =========================  */
.section-kompa-can-help{
	float: left;
	.kompa-can-help-content{
		h2{
			color: white;
			text-align: center;
			font-weight: 600;
			max-width: 80%;
			margin: auto;
		}
		p{
			max-width: 600px;
			margin: auto;
			text-align: center;
			color: white;
			padding: 30px 0;
		}
		.btn-action{
			.btn-common-site-2{
				font-size: 16px;
				font-weight: 900;
				background: #B2E151;
				display: inline-flex;
				align-items: center;
				height: 50px;
				padding: 10px 48px;
				span{
					padding-left: 10px;
				}
			}
		}
		.text-des{
			max-width: 600px;
			margin: auto;
			text-align: center;
			padding-top: 30px;
			span{
				color: white;
			}
		}
	}
}
.breadcrumbs {
	position: absolute;
    left: 0;
    top: 70px;
    padding: 0;
    width: 100%;z-index: 1;

	i {
		color: #8692A6;
		
		&:before{
			font-size: 10px;
		}
	}

	a {
		color: #8692A6;
		font-size: 13px;
	}
}
/* ========================= Section footer =========================  */
footer{
	padding: 50px;
	display: inline-block;
	width: 100%;
	background-color: #F5F8FA;
	text-align: center;
	a{
		color: $text;
		margin: 0 20px;
	}
	.socical{
		a{
			margin: 0 5px;
		}
	}
	.link-footer{
		width: 100%;
		margin: 0;
		padding: 0;
		clear: both;
		
		.box-link-food{
			display: flex;
			margin-bottom: 20px;
			ul{
				width: 25%;
				text-align: left;
				h6{
					margin-bottom: 10px;
					font-weight: 600;
				}
				li{
					list-style: none;
					padding-bottom: 10px;
					a{
						font-size: 13px;
						color: $text-alpha;
						text-decoration: none;
						transition: 0.5s;
						padding-left: 0;
						margin-left: 0;
						&:hover{
							color: $blue-text;
							text-decoration: underline;	
						}
					}
					
				}
			}
		}
	}
	.bottom-footer{
		border-top: 1px solid $border;
		padding-top: 20px;
		.infor-footer{
			text-align: center;
			a{
				font-size: 12px;
				margin: 0 5px;
				color: $text-alpha;
				text-decoration: underline;
			}
		}
		.socical{
			a{
				i{
					width: 30px;
					height: 30px;
					background: #E4E4E4;
					border-radius: 50%;
					padding: 8px;
					color: #636F75;
					&:hover{
						background: $blue-text;
						color: white;
					}
				}
			}
		}
		
	}
	.copyright{
			text-align: center;
			p{
			color: $text-alpha;
			font-size: 12px;
			padding-top: 20px;
			}
		}
}


.section-how-we-define{
    .title-page{
        color: white;
    }
    .we-define{
        display: flex;
        
        .col-we-define-40{
            width: 40%;
            .icon-we-define{
                display: flex;
                .icon-we-define-1{
                    position: relative;
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    img{
                        height: 100px;
                    }
                    .icon-small-plus{
                        position:absolute;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        left: -21px;
                        .arrow-right{
                            display: none;
                        }
                        img{
                            width: 44px;
                        }
                    }
                }
            }
            .text-we-define{
                margin-top: 50px;
                .line-center{
                    border-bottom: 1px solid #fff;
                    width: 60%;
                    margin: auto;
                    height: 13px;
                    position: relative;
                    &::before{
                        border-left: 1px solid #fff;
                        content: "";
                        position: absolute;                        
                        height: 12px;
                        top: 7px;
                    }
                    &::after{
                        border-right: 1px solid #fff;
                        content: "";
                        position: absolute;
                        right: 0;
                        height: 12px;
                        top: 7px;
                    }
                }
                p{
                    text-align: left;
                    width: 94px;
                    margin: auto;
                    color: white;
                    margin-top: 30px;
                }
            }
        }
        .col-we-define-20{
            width: 20%;
            .icon-we-define-2{
                position: relative;
                display: flex;
                width: 100%;
                justify-content: center;
                img{
                    height: 100px;
                }
                .icon-small-plus{
                    position:absolute;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    left: -21px;
                    img{
                        width: 44px;
                    }
                }
            }
            .text-we-define{
                margin-top: 50px;
                .line-center{
                    border-bottom: 1px solid #fff;
                    width: 60%;
                    margin: auto;
                    height: 13px;
                    position: relative;
                    &::before{
                        border-left: 1px solid #fff;
                        content: "";
                        position: absolute;                        
                        height: 12px;
                        top: 7px;
                    }
                    &::after{
                        border-right: 1px solid #fff;
                        content: "";
                        position: absolute;
                        right: 0;
                        height: 12px;
                        top: 7px;
                    }
                }
                p{
                    text-align: left;
                    width: 94px;
                    margin: auto;
                    color: white;
                    margin-top: 30px;
                }
            }
        }
    }
}

.section-our-commitment{
    .item{
        position: relative;
		padding-bottom: 50px;
		min-height: 173px;
		display: flex;
		align-items: center;
        &:nth-last-child(1){
            padding-bottom: 0;
        }
        .icon{
            width: 123px;
            height: 123px;
            position: absolute;
            border: 1px solid #48A7E8;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 84px;
            color: $blue-text;
            font-weight: 700;
        }
        .item-description{
            padding-left: 153px;
            h4{
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                color: $blue-text;
            }
            p{
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                max-width: 723px;
            }
        }
    }
}
@media only screen and (max-width: 950px){
    .section-how-we-define{
        .we-define{
            display: block;
            .col-we-define-40{
                width: 100%;
                display: flex;
                align-items: center;
                .icon-we-define{
                    display: block;
                    width: 100px;
                    .icon-we-define-1{
                        padding: 30px 0;
                        img{
                            height: 48px;
                        }
                        .icon-small-plus{
                            left: auto;
                            top: -57px;
                        }
                        .arrow-right{
                            transform: rotate(90deg);
                        }
                    }
                }
                .text-we-define{
                    margin-top: 0;
                    .line-center{
                        display: none;
                    }
                    p{
                        text-align: left;
                        width: auto;
                        margin: auto;
                        color: white;
                        margin-top: 0;
                        br{
                            display: none;
                        }
                    }
                }
            }
            .col-we-define-20{
                width: 100%;
                display: flex;
                align-items: center;
                .icon-we-define-2{
                    display: flex;
                    width: 100px;
                    padding: 30px 0;
                    img{
                        height: 48px;
                    }
                    .icon-small-plus{
                        left: auto;
                        top: -57px;
                        img{
                            width: 44px;
                        }
                    }
                    .arrow-right{
                        transform: rotate(90deg);
                    }
                }
                .text-we-define{
                    margin-top: 0;
                    .line-center{
                        display: none;
                    }
                    p{
                        text-align: left;
                        width: auto;
                        margin: auto;
                        color: white;
                        margin-top: 0;
                        br{
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .section-our-commitment .item .icon {
        width: 90px;
        height: 90px;
        font-size: 60px;
    }
    .section-our-commitment .item .item-description {
        padding-left: 110px;
    }
    .section-our-commitment .item .item-description h4 {
        padding-top: 9px;
    }
    .section-our-commitment .item {
        min-height: 149px;
    }
}
.info-right{
	position: relative;
	display: inline-block;
	width: 100%;
}

.btn-hide-show{
	position: absolute;
	right: 15px;
	top: 31;
	border: 0;
	outline: none !important;
	border: 0 !important;
	background: none;
	span{
		display: none;
		img{
			margin-left: 0px;
		}
		&.active{
			display: flex;
		}
		&.hide-btn{
			img{
				rotate: 180deg;
			}
		}
	}
}
.form-contact-right{
	&.hide{
		display: none;
	}
}
.search-blogs{
	display: flex;
	align-items: center;
	max-width: 520px;
	width: 100%;
	position: relative;
	border-radius: 2px;
	height: 75px;
	border: 1px solid #CFCFCF;
	background: #FFF;
	padding-left: 50px;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.15);
	img{
		position: absolute;
		left: 15px;
		top: 23px;
	}
	input{
		height: 100%;
		border: 0;
		width: 100%;
		font-size: 16px;
		&::placeholder{
			color: #58595B;
			font-size: 16px;
			display: inline-block;
			width: 100%;
		}
	}
}
.search-detail-blogs{
	height: 64px;
	border-radius: 2px;
	border: 1px solid var(--gray, #B6B6B6);
	background: #FFF;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);
	display: inline-block;
	width: 100%;
	margin-bottom: 30px;
}
.search-blogs img {
    top: 19px;
}