@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap');
$blue-text:#4BADED;
$text:#313131;
$text-alpha:#7A8287;
$gradient-color: linear-gradient(90deg, #2F7DF7 0%, #0AE5FF 100%);
$border:#E8E8E8;
$bg-gray: #F5F8FA;

/* --------------------------- Pagging ------------------------------- */
.pagging-page {
	width: 100%;

	.pagination {
		margin-top: 15px;
		justify-content: center;
		align-items: center;
		margin-bottom: 0;
	}

	ul {
		li {
            border-bottom: none !important;
			a,
			span {
				width: 32px;
				height: 32px;
				margin: 0 10px;
				text-align: center;
				font-size: 14px;
				display: inline-block;
				text-decoration: none;
				color: $text;
				padding: 5px;
                font-weight: normal !important;
                justify-content: center !important;

				&.active {
					border: 1px solid $blue-text  !important;
					color: $blue-text;
					background-color: white;
					padding-top: 5px;
				}
			}

			&:hover {
				a {
					color: $blue-text;
				}
			}
		}
	}
}
/*-------------------------------------- Section The future works -------------------------------*/
.section-the-future-works{
    .title-page{
        h2{
            font-weight: 700;
        }
        p{
            width: 780px;
            margin: auto;
            text-align: center;
            font-weight: normal;
        }
    }
    .item-works{
        img{
            height: 80px;
        }
        h6{
            font-weight: 600;
            padding: 20px 0;
            margin: 0;
        }
        p{
            display: -webkit-box;
				-webkit-line-clamp: 4;
				-webkit-box-orient: vertical;
				overflow: hidden;
        }
        
    }
    .core-values{
            p{
                width: 100%;
            }
            .pic-left-core-values{
                img{
                    max-width: 100%;
                }
            }
            .core-values-total{
                .core-item{
                    display: flex;
                    align-items: center;
                    margin-bottom: 65px;
                    p{
                        padding: 0;
                        padding-left: 12px;
                        margin: 0;
                        font-weight: 600;
                    }
                }
            }
    }
}
.page-detail-body{
    .head-detail{
        padding-top: 150px !important;
    }
}

/*-------------------------------------- Section Career opportunities -------------------------------*/
.section-career-opportunities{
    float: left;
    width: 100%;
    background-color: #F5F8FA;
    .title-page{
        h2{
            font-weight: 600;
        }
        p{
            font-weight: normal;
        }
    }
    .search-quick{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .search{
            width: 70%;
            background: white;
            padding: 10px;
            border-radius: 2px;
            border: 1px solid #ccc;
            span{
                padding: 0 5px 0 0;
                width: 20px;
                &::before{
                    color: $text-alpha;
                }
            }
            input{
                border: none;
                width: 95%;
            }
        }
        select{
            width: 20%;
            padding: 12px;
            margin: 0 12px;
            border-radius: 2px;
            border: 1px solid #ccc;
            option{
                color: $text-alpha !important;
            }
        }
        button{
            padding: 9px;
            border: 1px solid #B2E151;
            border-radius: 2px;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 14px;
            background: #B2E151;
            color: white;
            width: 10%;
        }
    }
    .career-job{
        ul{
            margin-top: 50px;
            li{
                border-bottom: 1px solid $border;
                padding: 27px 0;
                list-style: none;
                cursor: pointer;
                &:nth-last-child(1){
                    border-bottom: none;
                }
                p{
                    display: flex;
                    justify-content: space-between;
                    font-weight: 600;
                    color: #313131;
                    position: relative;
                    align-items: center;
                    margin-bottom: 0;
                    a{
                        color: $text;
                        &:hover{
                            color: $blue-text;
                        }
                        span{
                            padding-right: 160px;
                        }
                    }
                    &:hover>span{
                        color: $blue-text ;
                    }
                    &:hover>button{
                        background-color: $blue-text;
                        color: white;
                    }
                    
                    a.btn-apply{
                        padding: 7px 20px;
                        position: absolute;
                        right: 0;
                        border: 1px solid $blue-text;
                        color: $blue-text;
                        font-size: 13px;
                        background-color: white;
                        display: flex;
                        align-items: center;
                        font-weight: 600;
                        outline: none;
                        i{
                            padding-left: 5px;
                            &::before{
                                font-weight: 600
                            }
                        }
                    }
                }
            }
        }
    }
    

}
/* --------------------------- Career Detail ------------------------------- */
.section-banner{
    text-align: left;
    .head-detail{
        padding: 50px 0;
        text-align: left;
        .content-banner{
            .btn-common-site{
                padding: 14px 77px;
            }
            h1{
                text-align: left;
                color: $blue-text;
            }
            span{
                color: $text-alpha;
            }
            ul{
                margin: 30px 0;
                li{
                    display: inline-flex;
                    align-items: center;
                    line-height: 22px;
                    color: $text-alpha;
                    padding-right: 20px;
                    img{
                        height: 20px;
                        padding-right: 5px;
                    }

                }
            }
        }
    }
}
/* ========================= Section banner ===================== */
.section-category{
    .category-list{
        
        h6{
            font-weight: 500;
            text-transform: uppercase;
            color: #58595B;
            padding-bottom: 15px;
        }
        .form-check{
            display: flex;
            align-items: center;
            margin-bottom: 22px;
            input{
                margin-top: 0;
                width: 16px;
                height: 16px;
            }
            label{
                cursor: pointer;
                font-size: 16px;
                padding-left: 5px;
                font-weight: 600;
                color: #58595B;
                span{
                    color: #90A3BF;
                }
            }
        }
    }
    .content-right-report{
        padding-left: 50px;
        border-left: 1px solid $border;
        .top-news{
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            padding: 20px;
            position: relative;
            margin-bottom: 50px;
            .pic-news{
                position: relative;
                display: block;
                min-height: 215px;
                a{
                    position: relative;
                    padding-top: 0%;
                    display: block;
                    width: 100%;
                    min-height: 215px;
                    img{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                        left: 0;
                        top: 0;
                    }
                }
            }
            
            .right-news{
                position: relative;
                h5{
                    font-weight: 600;
                    padding: 0;
                    margin: 0;
                    padding-bottom: 10px;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
                span{
                    font-size: 13px;
                    color: $text-alpha;
                    margin: 20px 0;
                }
                p{
                    padding-top: 10px;
                    font-size: 14px;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }
        }
    }
    
}
.item-list-category{
    position: relative;
    padding-bottom: 30px;
    .item-category{
        position: relative;
        padding-top: 0%;
        display: block;
        width: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                left: 0;
                top: 0;
            }
    }
    .button-category{
        .btn-action{
            .btn-common{
                display: flex;
                align-items: center;
                padding: 13px 30px;
                font-weight: 600;
            }
        }
    }
    .text-item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .text-category-list{
            padding-top: 31px;
            padding-right: 15px;
        }
        a{
            color: $text;
            &:hover{
                color: $blue-text;
            }
            h6{
                font-weight: 600;
                display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
            }
        }
        span{
            color: #8C8C8C;
        }
    }
}
/* ========================= Section Reinventing-work ===================== */
.top-banner-news{
    position: relative;
    margin: 50px 0;
    .pic-news{
        position: relative;
        padding-top: 0%;
        display: block;
        width: 100%;
        height: 310px;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            left: 0;
            top: 0;
            border-radius: 12px;
    }
}
.right-news {
    h1{
        color: $blue-text;
        padding-bottom: 0;
        margin-bottom: 0;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    span{
        padding: 10px 0;
        width: 100%;
        float: left;
        color: $text-alpha;
    }
}
}
.future-automation{
    .pic-news{
        img{
            border-radius: 2px ;
        }
    }
    .right-news {
        h1{
            color: $blue-text;
            padding-bottom: 0;
            margin-bottom: 0;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
}
.section-career-detail{
    .reinventing-work{
        img{
            max-width: 100%;
        }
    }
    .table-of-content{
        h5{
            text-transform: uppercase;
            color: $text;
        }
        .form-contact-right{
            ul{
                padding-left: 20px;
                li{
                    a{
                        font-size: 13px;
                        color: #58595B;
                        line-height: 18px;
                        &:hover{
                            color: $blue-text;
                        }
                    }
                }
            }
        }
       
    }
    .Keep-reading{
        h5{
            margin-bottom: 30px;
            padding-bottom: 0;
            text-transform: uppercase;
            font-weight: 600;
            color: $text;
        }
        .btn-action{
            .btn-common-site{
                margin-bottom: 50px;
            }
            
        }
    }
    .content-detail-left{
        img{
            max-width: 100%;
        }
        .btn-action{
            .btn-common-site{
                margin: 50px 0;
            }
        }
    }
    .date-location{
        width: 100%;
        min-height: 30px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
        color: $text-alpha;
        i{
            padding: 0 5px;
            
        }
        .ml-50{
            margin-left: 50px;
        }
    }
}


/* ========================= Section Webinars & Event ===================== */
.section-webinars-event{
    .title-page.text-left{
        text-align: left;
        font-weight: 600;
        margin-bottom: 30px;
    }
    .webinars-event{
        background: white;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
        border-radius: 2px;
        .btn-common-site{
            color: white;
        }
        a{
            color: $text;
            
            &:hover{
                color: $blue-text;
            }
            .pic-webinars{
                position: relative;
                padding-top: 56%;
                display: block;
                border-top-left-radius: 2px;
                    border-top-right-radius: 2px;
                overflow: hidden;
                img{
                    border-top-left-radius: 2px;
                    border-top-right-radius: 2px;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    left: 0;
                    top: 0;
                    transition: 1s;
                    &:hover{
                        transform: scale(1.2);
                        border-top-left-radius: 2px;
                    border-top-right-radius: 2px;
                    }
                }
            }
            
        }
        .content-webinars{
            padding:30px 20px;
            h5{
                font-weight: 600;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                a{
                    color: $text !important;
                    &:hover{
                        opacity: .8;
                    }
                }
            }
            h6{
                font-weight: 600;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
            span{
                padding: 0;
                color: $text-alpha;
            }
            p{
                padding-top: 10px;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }
    }
}
.Section-digital-data-center-solution{
    float: left;
}
/* ========================= Section blogs ===================== */
.section-career-detail.section-webinars-event{
    
    .nav-tabs{
        border: 0;
        border: 2px solid white;
        width: max-content;
        a{
            padding-top: 10px !important;
            padding-bottom: 15px !important;
        }
    }
    .nav-tabs .nav-link{
        color: $text;
        border: 0;
        border: 2px solid white;
        margin-top: -2px;
        padding: 15px 35px;
        font-weight: 600;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
        color: $blue-text;
        border: none;
        border-bottom: 2px solid $blue-text;
        margin-top: 0;
    }
    .date-location{
        padding: 0;
    }
}
/* ---------------------------Page Kiến thức dinh dưỡng --------------------*/
.breadcrumbs {
	padding: 20px 0 30px 0;

	i {
		color: #8692A6;
		
		&:before{
			font-size: 10px;
		}
	}

	a {
		color: #8692A6;
		font-size: 13px;
	}
}

.box-news {
	display: inline-block;
	width: 100%;
	margin-bottom: 15px;

}

.avatar-news {
	display: inline-block;
	width: 100%;

	a {
		position: relative;
		padding-top: 56%;
		display: block;

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			left: 0;
			top: 0;
		}
	}
}

.title-news.lager a {
	font-size: 28px;

}

.infor-news {
	display: inline-block;
	width: 100%;

	.cate-name h6 a {
		text-transform: uppercase;
		color: $text;
		font-size: 12px;

	}

}
a{
    &:hover{
        opacity: .8;
    }
}
.title-news {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 700;
	a{
		color: $text;
	}
}

.item-news-right {
	display: inline-block;
	width: 100%;
	margin-bottom: 25px;
    .col-md-6{
        display: flex;
        align-items: center;
    }
}
.item-news-right{
    .col-md-8{
        display: flex;
        align-items: center;
    }
}
.time-date {
	span {
		color: #8C8C8C;
		font-size: 13px;
	}
}

.kien-thuc-dinh-duong,
.section-nghien-cuu {
	padding-top: 0;

	.title-section {
		text-align: left;
		margin-bottom: 20px;

		a {
			color: $text;
		}
	}
}

.bg-white-ktdd {
	background: #ffffff66;

	.infor-news .title-news {
		font-size: 16px;
		font-weight: normal;
		margin-top: 14px;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
}

.list-ktdd {
	padding-top: 55px;

	.title-news {
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		font-size: 18px;
	}
}

.kien-thuc-dinh-duong .item-news-right {
	margin-left: 15px;

}

/* --------------------------- Chi tiết News------------------------------- */
.chi-tiet-ktdd {
	padding-top: 0;

	.detail-left {
		border-right: 1px solid #DCD6C9;
		padding-right: 34px;
	}

	p {
		font-size: 16px;
		margin-bottom: 30px;
	}

	.infor-news {
		p {
			margin-top: 10px;
		}
	}

	.content-title-news {
		h1 {
			a {
				font-size: 32px;
				font-weight: 700;
				color: $text;
			}
		}

	}

	.title-detail {
		a {
			font-size: 32px;
			font-weight: 700;
		}
	}

	.tin-cung-danh-muc {
		padding: 30px 0;

		.btn-common {
			padding: 15px 30px;
		}

		.item-news-right {
			padding-left: 0;

			.col-md-6 {
				padding-left: 15px;
			}
		}

		.title-detail {
			margin-bottom: 30px;

			a {
				font-size: 24px;
				text-transform: uppercase;
			}
		}
	}

	.title-news {
		font-size: 18px;
		a{
			color: $text;
		}
	}
}

.nhieu-nguoi-quan-tam {
	.avatar-news {
		padding-bottom: 5px;
	}

	.item-news-right {
		margin-bottom: 10px;

		.content-infor {
			margin-left: -15px;
		}
	}

	.title-detail {
		margin-bottom: 20px;

		a {
			font-size: 18px;
			text-transform: uppercase;
		}
	}

	.title-news {
		-webkit-line-clamp: 3;
		font-size: 13px;
		font-weight: normal;
	}
}

/*===================== Section Partnership =======================*/
.form-here{
	z-index: 1;
    position: relative;
    margin-top: -109px;
    bottom: 0;
    padding-bottom: 100px;
	
	.form-lienhe {
		background: #FFFFFF;
		box-shadow: 0px 8px 32px rgba(129, 129, 129, 0.1);
		border-radius: 8px;
		padding: 50px;
		position: relative;
        min-height: 548px;
        .tiltle-form {
            text-transform: inherit;
            font-weight: bold;

        }
        .form-group{
            margin-bottom: 21px;
            input {
                background: #F7F9FC;
                border-radius: 2px;
                height: 44px;
                border: 1px solid #D3D3D3;
            }
    
            p {
                color: #686868;
            }
    
            
            label span {
                color: #F42C00;
            }
    
            textarea {
                background-color: #F7F9FC;
                border: 1px solid #D3D3D3;
                height: 120px;
                width: 100%;
            }
        }
		
        
	}
    .button-submitform{
        display: flex;
        justify-content: right;
        .btn-common-site{
            display: flex;
            align-items: center;
        }
    }
	.img-lienhe{
		z-index: -1;
		position: relative;
		a{
		position: relative;
		padding-top: 107%;
		display: block;
		box-shadow: 0px 8px 32px rgba(129, 129, 129, 0.1);
		border-radius: 8px;
		overflow: hidden;
		img{
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		left: 0;
		top: 0;
        max-width: 100%;
	
		}
		}
	}
}
.form-contact{
    margin-top: 0;
    .form-lienhe{
        img{
            max-width: 100%;
        }
        .phoneicon{
            padding: 20px 0;
        }
        h4{
            
            margin: 0;
        }
        h3{
            font-weight: 500;
            margin: 0;
            color: $blue-text;
        }
        p{
            padding: 10px 0;
            margin: 0;
        }
        .email-form-lien-he{
            display: flex;
            align-items: center;
            justify-content: center;
            color: $blue-text;
            p{
                padding: 2px 0;
                margin: 0;
                font-size: 16px;
                padding-left: 5px;
            }
        }
    }
}

/*================Section headquarter offices ======================*/
.headquarter-offices{
    .row{
        align-content: center;
        align-items: center;
        padding: 30px 0;
        .address-info{
            h3{
                color: white;
                font-weight: 600;
            }
            p{
                color: white;
            }
        }
        img{
            max-width: 100%;
        }
    }
}
/*=====================Section Digital Data Center ================*/ 
.digital-data-center{
    background-color: #F5F8FA;
    h3{
        font-weight: 600;
    }

    .item-works{
        img{
            height: 80px;
            padding-bottom: 15px;
        }
    }
}
.detail-main-product{
    h4{
        font-weight: 600;
    }
    ul{
        margin-left: 10px;
        li{
            list-style: none;
            align-items: center;
            padding-bottom: 5px;
            margin-left: -10px;
            position: relative;
            
            em{
                width: 18px;
                height: 18px;
                background: #58595B;
                color: white;
                border-radius: 50%;
                display: inline-block;
                text-align: center;
                font-size: 12px;
                font-style: normal;
                margin-right: 5px;
                position: absolute;
                top: 5px;
                
            }
            span{
                padding-left: 25px;
                display: inline-block;
            }
        }
    }
    
}
/*====================== Section section-main-category =================*/
.section-main-category{
    &.gray{
        background: $bg-gray;
    }
    .row{
        align-items: center;
        .col-md-6{
            padding: 0 50px;
        }
    }
    .detail-main-product{
        .icon-item{
            border-bottom: 1px solid $border;
            padding: 22px 0;
        }
    }
    .pic-product-avatar{
        width: 100%;
    }
    h3{
        font-weight: 600;
    }
}

/*===================== Section-digital-data-center-solution ==================*/ 
.Section-digital-data-center-solution{
    h2{
        font-weight: 600;
    }
    .btn-common-site-2{
        font-size: 14px;
        padding: 13px 50px ;
        background: #B2E151;
    }
    .text-des{
        padding: 20px 0;
    }
    h3{
        font-weight: 600;
        color: #58595B;
    }
}

.Section-form-sign-up{
    .row{
        .pic-left-avt{
            position: relative;
            padding-top: 50%;
            display: block;
            .pic-product-avatar{
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                left: 0;
                top: 0;
            }
        }
        
        margin: 0;
        padding: 0;
        .form-sign-up{
            max-width: 590px;
            padding: 50px;
            h4{
                color: white;
                font-weight: 600;
                padding-left: 15px;
            }
            .form-lienhe{
                .form-group{
                    input{
                        height: 44px;
                        border: none;
                        border-radius: 3px;
                    }
                }
                .button-submitform{
                    text-align: right;
                    .btn-common-site {
                        border: 1.5px solid #ffffff;
                        text-transform: uppercase;
                        font-weight: bold;
                        &:hover{
                            color: white;
                        }
                    }
                }
                
            }
        }
    }
}

.other-services{
    h3{
        font-weight: 600;
    }
    .webinars-event{
        
        .pic-webinars{
            position: relative;
            padding-top: 56%;
            display: block;
            border-top-left-radius: 2px;
                border-top-right-radius:2px;
            overflow: hidden;
            img{
                border-top-left-radius: 2px;
                border-top-right-radius: 2px;
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                left: 0;
                top: 0;
                transition: 1s;
                &:hover{
                    transform: scale(1.2);
                    border-top-left-radius: 12px;
                border-top-right-radius: 12px;
                }
            }
        }
        a{
            color: $blue-text;
            &:hover{
                color: white;
            }
        }
    }
    
}
/*======================section-case-studies=========================*/
.item-case-studies{
    background: $bg-gray;
    padding: 50px;
    padding-bottom: 0;
    text-align: center;
    h3{
        font-weight: 600;
        color: $text;
    }
    p{
        color: $text-alpha;
    }
    
    .pic-case-studies{
        position: relative;
        padding-top: 56%;
        display: block;
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            left: 0;
            top: 0;
        }
    }
}
.tag-case-studies{
    margin: 20px 0;
    li{
        display: inline !important;
        padding: 5px 10px !important;
        background: #4BADED;
        color: white !important;
        margin: 3px;
        line-height: 37px !important;
        white-space: nowrap;
        border-radius: 3px;
    }
}
.content-case-studies-detail{
    max-width: 900px;
    margin: auto;
    text-align: center;
    p, span, b, em, strong{
        text-align: left;
    }
    img{
        max-width: 100%;
        padding: 30px 0;
    }
}

.aboutus{
    .title-page{
        p{
            font-weight: normal;
        }
    }
    .row{
        align-items: center;
        
        
    }
}
.about-us-pic{
    text-align: center;
    .pic-product-avatar{
        max-width: 100%;
        width: 100%;
    }
}
.item-works{
    img {
        height: 80px;
        padding-bottom: 15px;
    }
    h5{
        padding: 20px 0;
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    p{
        display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
    }
    
}
.list-function{
    max-width: 527px;
    .icon-item{
        width: 100%;
        position: relative;
        display: inline-grid;
        align-items: center;
        align-content: center;
        padding: 15px 0;
        &:nth-last-child(1){
            margin-bottom: 0;
            border-bottom: 0;
        }
        i{
            width: 22px;
            height: 22px;
            text-align: center;
            border-radius: 50%;
            background: $blue-text;
            line-height: 20px;
            position:absolute;
            &::before{
                color: white;
                font-size: 10px;
            }
        }
        span{
            font-family: inter, sans-serif;
            padding-left: 32px;
            float: left;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            line-height: 22px;
        }
    }
}
/*==========================page notifi=============================*/ 
.section-page-notification{
    padding-top: 150px;
}
.page-notifi{
    max-width: 600px;
    margin: auto;
    text-align: center;
    h4{
        font-weight: 700;
        padding-top: 50px;
    }
    p{
        padding: 10px 0;
    }
}

/*========================modal popup===============*/ 

.popup-modal{
    .modal.show .modal-dialog{
        margin-top: 15px;
    }
    .modal-header{
        position: relative;
        display: initial;
        border-bottom: none;
        padding-bottom: 0;
        .tiltle-form{
            padding-top: 30px;
        }
        .close{
            position: absolute;
            right: 0;
            top: 0;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: white;
            opacity:inherit;
            padding: 0;
            color: $blue-text;
            border: 1px solid $blue-text;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .modal-body{
        padding-bottom: 0;
        .form-lienhe{
            padding: 0 30px;
            .form-control{
                height: 44px;
                border-radius: 2px;
                    background: #F7F9FC ;
                    border-color: #D3D3D3;
            }
            textarea{
                min-height: 70px;
            }
        }
    }
    
    .modal-footer{
        border-top: none;
        padding-top: 0;
        padding-right: 40px;
        padding-bottom: 40px;
    }
}

.img-lienhe{
    img{
        width: 100%;
    }
}
/*==============Section Overview =======================*/ 
.section-overview{
    .row{
        align-items: center;
        .pic-left-overview{
            position: relative;
            padding-top: 90%;
            display: block;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                left: 0;
                top: 0;
            }
        }
    }
}
.img-lienhe{
    position: relative;
    padding-top: 90%;
    display: block;
    min-height: 560px;
img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        left: 0;
        top: 0;
}
}