@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap");
/* --------------------------- Pagging ------------------------------- */
.pagging-page {
  width: 100%; }
  .pagging-page .pagination {
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0; }
  .pagging-page ul li {
    border-bottom: none !important; }
    .pagging-page ul li a,
    .pagging-page ul li span {
      width: 32px;
      height: 32px;
      margin: 0 10px;
      text-align: center;
      font-size: 14px;
      display: inline-block;
      text-decoration: none;
      color: #313131;
      padding: 5px;
      font-weight: normal !important;
      justify-content: center !important; }
      .pagging-page ul li a.active,
      .pagging-page ul li span.active {
        border: 1px solid #4BADED !important;
        color: #4BADED;
        background-color: white;
        padding-top: 5px; }
    .pagging-page ul li:hover a {
      color: #4BADED; }

/*-------------------------------------- Section The future works -------------------------------*/
.section-the-future-works .title-page h2 {
  font-weight: 700; }
.section-the-future-works .title-page p {
  width: 780px;
  margin: auto;
  text-align: center;
  font-weight: normal; }
.section-the-future-works .item-works img {
  height: 80px; }
.section-the-future-works .item-works h6 {
  font-weight: 600;
  padding: 20px 0;
  margin: 0; }
.section-the-future-works .item-works p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden; }
.section-the-future-works .core-values p {
  width: 100%; }
.section-the-future-works .core-values .pic-left-core-values img {
  max-width: 100%; }
.section-the-future-works .core-values .core-values-total .core-item {
  display: flex;
  align-items: center;
  margin-bottom: 65px; }
  .section-the-future-works .core-values .core-values-total .core-item p {
    padding: 0;
    padding-left: 12px;
    margin: 0;
    font-weight: 600; }

.page-detail-body .head-detail {
  padding-top: 150px !important; }

/*-------------------------------------- Section Career opportunities -------------------------------*/
.section-career-opportunities {
  float: left;
  width: 100%;
  background-color: #F5F8FA; }
  .section-career-opportunities .title-page h2 {
    font-weight: 600; }
  .section-career-opportunities .title-page p {
    font-weight: normal; }
  .section-career-opportunities .search-quick {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .section-career-opportunities .search-quick .search {
      width: 70%;
      background: white;
      padding: 10px;
      border-radius: 2px;
      border: 1px solid #ccc; }
      .section-career-opportunities .search-quick .search span {
        padding: 0 5px 0 0;
        width: 20px; }
        .section-career-opportunities .search-quick .search span::before {
          color: #7A8287; }
      .section-career-opportunities .search-quick .search input {
        border: none;
        width: 95%; }
    .section-career-opportunities .search-quick select {
      width: 20%;
      padding: 12px;
      margin: 0 12px;
      border-radius: 2px;
      border: 1px solid #ccc; }
      .section-career-opportunities .search-quick select option {
        color: #7A8287 !important; }
    .section-career-opportunities .search-quick button {
      padding: 9px;
      border: 1px solid #B2E151;
      border-radius: 2px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 14px;
      background: #B2E151;
      color: white;
      width: 10%; }
  .section-career-opportunities .career-job ul {
    margin-top: 50px; }
    .section-career-opportunities .career-job ul li {
      border-bottom: 1px solid #E8E8E8;
      padding: 27px 0;
      list-style: none;
      cursor: pointer; }
      .section-career-opportunities .career-job ul li:nth-last-child(1) {
        border-bottom: none; }
      .section-career-opportunities .career-job ul li p {
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        color: #313131;
        position: relative;
        align-items: center;
        margin-bottom: 0; }
        .section-career-opportunities .career-job ul li p a {
          color: #313131; }
          .section-career-opportunities .career-job ul li p a:hover {
            color: #4BADED; }
          .section-career-opportunities .career-job ul li p a span {
            padding-right: 160px; }
        .section-career-opportunities .career-job ul li p:hover > span {
          color: #4BADED; }
        .section-career-opportunities .career-job ul li p:hover > button {
          background-color: #4BADED;
          color: white; }
        .section-career-opportunities .career-job ul li p a.btn-apply {
          padding: 7px 20px;
          position: absolute;
          right: 0;
          border: 1px solid #4BADED;
          color: #4BADED;
          font-size: 13px;
          background-color: white;
          display: flex;
          align-items: center;
          font-weight: 600;
          outline: none; }
          .section-career-opportunities .career-job ul li p a.btn-apply i {
            padding-left: 5px; }
            .section-career-opportunities .career-job ul li p a.btn-apply i::before {
              font-weight: 600; }

/* --------------------------- Career Detail ------------------------------- */
.section-banner {
  text-align: left; }
  .section-banner .head-detail {
    padding: 50px 0;
    text-align: left; }
    .section-banner .head-detail .content-banner .btn-common-site {
      padding: 14px 77px; }
    .section-banner .head-detail .content-banner h1 {
      text-align: left;
      color: #4BADED; }
    .section-banner .head-detail .content-banner span {
      color: #7A8287; }
    .section-banner .head-detail .content-banner ul {
      margin: 30px 0; }
      .section-banner .head-detail .content-banner ul li {
        display: inline-flex;
        align-items: center;
        line-height: 22px;
        color: #7A8287;
        padding-right: 20px; }
        .section-banner .head-detail .content-banner ul li img {
          height: 20px;
          padding-right: 5px; }

/* ========================= Section banner ===================== */
.section-category .category-list h6 {
  font-weight: 500;
  text-transform: uppercase;
  color: #58595B;
  padding-bottom: 15px; }
.section-category .category-list .form-check {
  display: flex;
  align-items: center;
  margin-bottom: 22px; }
  .section-category .category-list .form-check input {
    margin-top: 0;
    width: 16px;
    height: 16px; }
  .section-category .category-list .form-check label {
    cursor: pointer;
    font-size: 16px;
    padding-left: 5px;
    font-weight: 600;
    color: #58595B; }
    .section-category .category-list .form-check label span {
      color: #90A3BF; }
.section-category .content-right-report {
  padding-left: 50px;
  border-left: 1px solid #E8E8E8; }
  .section-category .content-right-report .top-news {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    position: relative;
    margin-bottom: 50px; }
    .section-category .content-right-report .top-news .pic-news {
      position: relative;
      display: block;
      min-height: 215px; }
      .section-category .content-right-report .top-news .pic-news a {
        position: relative;
        padding-top: 0%;
        display: block;
        width: 100%;
        min-height: 215px; }
        .section-category .content-right-report .top-news .pic-news a img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          left: 0;
          top: 0; }
    .section-category .content-right-report .top-news .right-news {
      position: relative; }
      .section-category .content-right-report .top-news .right-news h5 {
        font-weight: 600;
        padding: 0;
        margin: 0;
        padding-bottom: 10px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden; }
      .section-category .content-right-report .top-news .right-news span {
        font-size: 13px;
        color: #7A8287;
        margin: 20px 0; }
      .section-category .content-right-report .top-news .right-news p {
        padding-top: 10px;
        font-size: 14px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden; }

.item-list-category {
  position: relative;
  padding-bottom: 30px; }
  .item-list-category .item-category {
    position: relative;
    padding-top: 0%;
    display: block;
    width: 100%; }
    .item-list-category .item-category img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }
  .item-list-category .button-category .btn-action .btn-common {
    display: flex;
    align-items: center;
    padding: 13px 30px;
    font-weight: 600; }
  .item-list-category .text-item {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .item-list-category .text-item .text-category-list {
      padding-top: 31px;
      padding-right: 15px; }
    .item-list-category .text-item a {
      color: #313131; }
      .item-list-category .text-item a:hover {
        color: #4BADED; }
      .item-list-category .text-item a h6 {
        font-weight: 600;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden; }
    .item-list-category .text-item span {
      color: #8C8C8C; }

/* ========================= Section Reinventing-work ===================== */
.top-banner-news {
  position: relative;
  margin: 50px 0; }
  .top-banner-news .pic-news {
    position: relative;
    padding-top: 0%;
    display: block;
    width: 100%;
    height: 310px; }
    .top-banner-news .pic-news img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0;
      border-radius: 12px; }
  .top-banner-news .right-news h1 {
    color: #4BADED;
    padding-bottom: 0;
    margin-bottom: 0;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden; }
  .top-banner-news .right-news span {
    padding: 10px 0;
    width: 100%;
    float: left;
    color: #7A8287; }

.future-automation .pic-news img {
  border-radius: 2px; }
.future-automation .right-news h1 {
  color: #4BADED;
  padding-bottom: 0;
  margin-bottom: 0;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.section-career-detail .reinventing-work img {
  max-width: 100%; }
.section-career-detail .table-of-content h5 {
  text-transform: uppercase;
  color: #313131; }
.section-career-detail .table-of-content .form-contact-right ul {
  padding-left: 20px; }
  .section-career-detail .table-of-content .form-contact-right ul li a {
    font-size: 13px;
    color: #58595B;
    line-height: 18px; }
    .section-career-detail .table-of-content .form-contact-right ul li a:hover {
      color: #4BADED; }
.section-career-detail .Keep-reading h5 {
  margin-bottom: 30px;
  padding-bottom: 0;
  text-transform: uppercase;
  font-weight: 600;
  color: #313131; }
.section-career-detail .Keep-reading .btn-action .btn-common-site {
  margin-bottom: 50px; }
.section-career-detail .content-detail-left img {
  max-width: 100%; }
.section-career-detail .content-detail-left .btn-action .btn-common-site {
  margin: 50px 0; }
.section-career-detail .date-location {
  width: 100%;
  min-height: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  color: #7A8287; }
  .section-career-detail .date-location i {
    padding: 0 5px; }
  .section-career-detail .date-location .ml-50 {
    margin-left: 50px; }

/* ========================= Section Webinars & Event ===================== */
.section-webinars-event .title-page.text-left {
  text-align: left;
  font-weight: 600;
  margin-bottom: 30px; }
.section-webinars-event .webinars-event {
  background: white;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
  border-radius: 2px; }
  .section-webinars-event .webinars-event .btn-common-site {
    color: white; }
  .section-webinars-event .webinars-event a {
    color: #313131; }
    .section-webinars-event .webinars-event a:hover {
      color: #4BADED; }
    .section-webinars-event .webinars-event a .pic-webinars {
      position: relative;
      padding-top: 56%;
      display: block;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      overflow: hidden; }
      .section-webinars-event .webinars-event a .pic-webinars img {
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        left: 0;
        top: 0;
        transition: 1s; }
        .section-webinars-event .webinars-event a .pic-webinars img:hover {
          transform: scale(1.2);
          border-top-left-radius: 2px;
          border-top-right-radius: 2px; }
  .section-webinars-event .webinars-event .content-webinars {
    padding: 30px 20px; }
    .section-webinars-event .webinars-event .content-webinars h5 {
      font-weight: 600;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden; }
      .section-webinars-event .webinars-event .content-webinars h5 a {
        color: #313131 !important; }
        .section-webinars-event .webinars-event .content-webinars h5 a:hover {
          opacity: .8; }
    .section-webinars-event .webinars-event .content-webinars h6 {
      font-weight: 600;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden; }
    .section-webinars-event .webinars-event .content-webinars span {
      padding: 0;
      color: #7A8287; }
    .section-webinars-event .webinars-event .content-webinars p {
      padding-top: 10px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden; }

.Section-digital-data-center-solution {
  float: left; }

/* ========================= Section blogs ===================== */
.section-career-detail.section-webinars-event .nav-tabs {
  border: 0;
  border: 2px solid white;
  width: max-content; }
  .section-career-detail.section-webinars-event .nav-tabs a {
    padding-top: 10px !important;
    padding-bottom: 15px !important; }
.section-career-detail.section-webinars-event .nav-tabs .nav-link {
  color: #313131;
  border: 0;
  border: 2px solid white;
  margin-top: -2px;
  padding: 15px 35px;
  font-weight: 600; }
.section-career-detail.section-webinars-event .nav-tabs .nav-item.show .nav-link, .section-career-detail.section-webinars-event .nav-tabs .nav-link.active {
  color: #4BADED;
  border: none;
  border-bottom: 2px solid #4BADED;
  margin-top: 0; }
.section-career-detail.section-webinars-event .date-location {
  padding: 0; }

/* ---------------------------Page Kiến thức dinh dưỡng --------------------*/
.breadcrumbs {
  padding: 20px 0 30px 0; }
  .breadcrumbs i {
    color: #8692A6; }
    .breadcrumbs i:before {
      font-size: 10px; }
  .breadcrumbs a {
    color: #8692A6;
    font-size: 13px; }

.box-news {
  display: inline-block;
  width: 100%;
  margin-bottom: 15px; }

.avatar-news {
  display: inline-block;
  width: 100%; }
  .avatar-news a {
    position: relative;
    padding-top: 56%;
    display: block; }
    .avatar-news a img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }

.title-news.lager a {
  font-size: 28px; }

.infor-news {
  display: inline-block;
  width: 100%; }
  .infor-news .cate-name h6 a {
    text-transform: uppercase;
    color: #313131;
    font-size: 12px; }

a:hover {
  opacity: .8; }

.title-news {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 700; }
  .title-news a {
    color: #313131; }

.item-news-right {
  display: inline-block;
  width: 100%;
  margin-bottom: 25px; }
  .item-news-right .col-md-6 {
    display: flex;
    align-items: center; }

.item-news-right .col-md-8 {
  display: flex;
  align-items: center; }

.time-date span {
  color: #8C8C8C;
  font-size: 13px; }

.kien-thuc-dinh-duong,
.section-nghien-cuu {
  padding-top: 0; }
  .kien-thuc-dinh-duong .title-section,
  .section-nghien-cuu .title-section {
    text-align: left;
    margin-bottom: 20px; }
    .kien-thuc-dinh-duong .title-section a,
    .section-nghien-cuu .title-section a {
      color: #313131; }

.bg-white-ktdd {
  background: #ffffff66; }
  .bg-white-ktdd .infor-news .title-news {
    font-size: 16px;
    font-weight: normal;
    margin-top: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden; }

.list-ktdd {
  padding-top: 55px; }
  .list-ktdd .title-news {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 18px; }

.kien-thuc-dinh-duong .item-news-right {
  margin-left: 15px; }

/* --------------------------- Chi tiết News------------------------------- */
.chi-tiet-ktdd {
  padding-top: 0; }
  .chi-tiet-ktdd .detail-left {
    border-right: 1px solid #DCD6C9;
    padding-right: 34px; }
  .chi-tiet-ktdd p {
    font-size: 16px;
    margin-bottom: 30px; }
  .chi-tiet-ktdd .infor-news p {
    margin-top: 10px; }
  .chi-tiet-ktdd .content-title-news h1 a {
    font-size: 32px;
    font-weight: 700;
    color: #313131; }
  .chi-tiet-ktdd .title-detail a {
    font-size: 32px;
    font-weight: 700; }
  .chi-tiet-ktdd .tin-cung-danh-muc {
    padding: 30px 0; }
    .chi-tiet-ktdd .tin-cung-danh-muc .btn-common {
      padding: 15px 30px; }
    .chi-tiet-ktdd .tin-cung-danh-muc .item-news-right {
      padding-left: 0; }
      .chi-tiet-ktdd .tin-cung-danh-muc .item-news-right .col-md-6 {
        padding-left: 15px; }
    .chi-tiet-ktdd .tin-cung-danh-muc .title-detail {
      margin-bottom: 30px; }
      .chi-tiet-ktdd .tin-cung-danh-muc .title-detail a {
        font-size: 24px;
        text-transform: uppercase; }
  .chi-tiet-ktdd .title-news {
    font-size: 18px; }
    .chi-tiet-ktdd .title-news a {
      color: #313131; }

.nhieu-nguoi-quan-tam .avatar-news {
  padding-bottom: 5px; }
.nhieu-nguoi-quan-tam .item-news-right {
  margin-bottom: 10px; }
  .nhieu-nguoi-quan-tam .item-news-right .content-infor {
    margin-left: -15px; }
.nhieu-nguoi-quan-tam .title-detail {
  margin-bottom: 20px; }
  .nhieu-nguoi-quan-tam .title-detail a {
    font-size: 18px;
    text-transform: uppercase; }
.nhieu-nguoi-quan-tam .title-news {
  -webkit-line-clamp: 3;
  font-size: 13px;
  font-weight: normal; }

/*===================== Section Partnership =======================*/
.form-here {
  z-index: 1;
  position: relative;
  margin-top: -109px;
  bottom: 0;
  padding-bottom: 100px; }
  .form-here .form-lienhe {
    background: #FFFFFF;
    box-shadow: 0px 8px 32px rgba(129, 129, 129, 0.1);
    border-radius: 8px;
    padding: 50px;
    position: relative;
    min-height: 548px; }
    .form-here .form-lienhe .tiltle-form {
      text-transform: inherit;
      font-weight: bold; }
    .form-here .form-lienhe .form-group {
      margin-bottom: 21px; }
      .form-here .form-lienhe .form-group input {
        background: #F7F9FC;
        border-radius: 2px;
        height: 44px;
        border: 1px solid #D3D3D3; }
      .form-here .form-lienhe .form-group p {
        color: #686868; }
      .form-here .form-lienhe .form-group label span {
        color: #F42C00; }
      .form-here .form-lienhe .form-group textarea {
        background-color: #F7F9FC;
        border: 1px solid #D3D3D3;
        height: 120px;
        width: 100%; }
  .form-here .button-submitform {
    display: flex;
    justify-content: right; }
    .form-here .button-submitform .btn-common-site {
      display: flex;
      align-items: center; }
  .form-here .img-lienhe {
    z-index: -1;
    position: relative; }
    .form-here .img-lienhe a {
      position: relative;
      padding-top: 107%;
      display: block;
      box-shadow: 0px 8px 32px rgba(129, 129, 129, 0.1);
      border-radius: 8px;
      overflow: hidden; }
      .form-here .img-lienhe a img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        left: 0;
        top: 0;
        max-width: 100%; }

.form-contact {
  margin-top: 0; }
  .form-contact .form-lienhe img {
    max-width: 100%; }
  .form-contact .form-lienhe .phoneicon {
    padding: 20px 0; }
  .form-contact .form-lienhe h4 {
    margin: 0; }
  .form-contact .form-lienhe h3 {
    font-weight: 500;
    margin: 0;
    color: #4BADED; }
  .form-contact .form-lienhe p {
    padding: 10px 0;
    margin: 0; }
  .form-contact .form-lienhe .email-form-lien-he {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4BADED; }
    .form-contact .form-lienhe .email-form-lien-he p {
      padding: 2px 0;
      margin: 0;
      font-size: 16px;
      padding-left: 5px; }

/*================Section headquarter offices ======================*/
.headquarter-offices .row {
  align-content: center;
  align-items: center;
  padding: 30px 0; }
  .headquarter-offices .row .address-info h3 {
    color: white;
    font-weight: 600; }
  .headquarter-offices .row .address-info p {
    color: white; }
  .headquarter-offices .row img {
    max-width: 100%; }

/*=====================Section Digital Data Center ================*/
.digital-data-center {
  background-color: #F5F8FA; }
  .digital-data-center h3 {
    font-weight: 600; }
  .digital-data-center .item-works img {
    height: 80px;
    padding-bottom: 15px; }

.detail-main-product h4 {
  font-weight: 600; }
.detail-main-product ul {
  margin-left: 10px; }
  .detail-main-product ul li {
    list-style: none;
    align-items: center;
    padding-bottom: 5px;
    margin-left: -10px;
    position: relative; }
    .detail-main-product ul li em {
      width: 18px;
      height: 18px;
      background: #58595B;
      color: white;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      font-size: 12px;
      font-style: normal;
      margin-right: 5px;
      position: absolute;
      top: 5px; }
    .detail-main-product ul li span {
      padding-left: 25px;
      display: inline-block; }

/*====================== Section section-main-category =================*/
.section-main-category.gray {
  background: #F5F8FA; }
.section-main-category .row {
  align-items: center; }
  .section-main-category .row .col-md-6 {
    padding: 0 50px; }
.section-main-category .detail-main-product .icon-item {
  border-bottom: 1px solid #E8E8E8;
  padding: 22px 0; }
.section-main-category .pic-product-avatar {
  width: 100%; }
.section-main-category h3 {
  font-weight: 600; }

/*===================== Section-digital-data-center-solution ==================*/
.Section-digital-data-center-solution h2 {
  font-weight: 600; }
.Section-digital-data-center-solution .btn-common-site-2 {
  font-size: 14px;
  padding: 13px 50px;
  background: #B2E151; }
.Section-digital-data-center-solution .text-des {
  padding: 20px 0; }
.Section-digital-data-center-solution h3 {
  font-weight: 600;
  color: #58595B; }

.Section-form-sign-up .row {
  margin: 0;
  padding: 0; }
  .Section-form-sign-up .row .pic-left-avt {
    position: relative;
    padding-top: 50%;
    display: block; }
    .Section-form-sign-up .row .pic-left-avt .pic-product-avatar {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }
  .Section-form-sign-up .row .form-sign-up {
    max-width: 590px;
    padding: 50px; }
    .Section-form-sign-up .row .form-sign-up h4 {
      color: white;
      font-weight: 600;
      padding-left: 15px; }
    .Section-form-sign-up .row .form-sign-up .form-lienhe .form-group input {
      height: 44px;
      border: none;
      border-radius: 3px; }
    .Section-form-sign-up .row .form-sign-up .form-lienhe .button-submitform {
      text-align: right; }
      .Section-form-sign-up .row .form-sign-up .form-lienhe .button-submitform .btn-common-site {
        border: 1.5px solid #ffffff;
        text-transform: uppercase;
        font-weight: bold; }
        .Section-form-sign-up .row .form-sign-up .form-lienhe .button-submitform .btn-common-site:hover {
          color: white; }

.other-services h3 {
  font-weight: 600; }
.other-services .webinars-event .pic-webinars {
  position: relative;
  padding-top: 56%;
  display: block;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  overflow: hidden; }
  .other-services .webinars-event .pic-webinars img {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0;
    transition: 1s; }
    .other-services .webinars-event .pic-webinars img:hover {
      transform: scale(1.2);
      border-top-left-radius: 12px;
      border-top-right-radius: 12px; }
.other-services .webinars-event a {
  color: #4BADED; }
  .other-services .webinars-event a:hover {
    color: white; }

/*======================section-case-studies=========================*/
.item-case-studies {
  background: #F5F8FA;
  padding: 50px;
  padding-bottom: 0;
  text-align: center; }
  .item-case-studies h3 {
    font-weight: 600;
    color: #313131; }
  .item-case-studies p {
    color: #7A8287; }
  .item-case-studies .pic-case-studies {
    position: relative;
    padding-top: 56%;
    display: block; }
    .item-case-studies .pic-case-studies img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }

.tag-case-studies {
  margin: 20px 0; }
  .tag-case-studies li {
    display: inline !important;
    padding: 5px 10px !important;
    background: #4BADED;
    color: white !important;
    margin: 3px;
    line-height: 37px !important;
    white-space: nowrap;
    border-radius: 3px; }

.content-case-studies-detail {
  max-width: 900px;
  margin: auto;
  text-align: center; }
  .content-case-studies-detail p, .content-case-studies-detail span, .content-case-studies-detail b, .content-case-studies-detail em, .content-case-studies-detail strong {
    text-align: left; }
  .content-case-studies-detail img {
    max-width: 100%;
    padding: 30px 0; }

.aboutus .title-page p {
  font-weight: normal; }
.aboutus .row {
  align-items: center; }

.about-us-pic {
  text-align: center; }
  .about-us-pic .pic-product-avatar {
    max-width: 100%;
    width: 100%; }

.item-works img {
  height: 80px;
  padding-bottom: 15px; }
.item-works h5 {
  padding: 20px 0;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden; }
.item-works p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.list-function {
  max-width: 527px; }
  .list-function .icon-item {
    width: 100%;
    position: relative;
    display: inline-grid;
    align-items: center;
    align-content: center;
    padding: 15px 0; }
    .list-function .icon-item:nth-last-child(1) {
      margin-bottom: 0;
      border-bottom: 0; }
    .list-function .icon-item i {
      width: 22px;
      height: 22px;
      text-align: center;
      border-radius: 50%;
      background: #4BADED;
      line-height: 20px;
      position: absolute; }
      .list-function .icon-item i::before {
        color: white;
        font-size: 10px; }
    .list-function .icon-item span {
      font-family: inter, sans-serif;
      padding-left: 32px;
      float: left;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      line-height: 22px; }

/*==========================page notifi=============================*/
.section-page-notification {
  padding-top: 150px; }

.page-notifi {
  max-width: 600px;
  margin: auto;
  text-align: center; }
  .page-notifi h4 {
    font-weight: 700;
    padding-top: 50px; }
  .page-notifi p {
    padding: 10px 0; }

/*========================modal popup===============*/
.popup-modal .modal.show .modal-dialog {
  margin-top: 15px; }
.popup-modal .modal-header {
  position: relative;
  display: initial;
  border-bottom: none;
  padding-bottom: 0; }
  .popup-modal .modal-header .tiltle-form {
    padding-top: 30px; }
  .popup-modal .modal-header .close {
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: white;
    opacity: inherit;
    padding: 0;
    color: #4BADED;
    border: 1px solid #4BADED;
    display: flex;
    align-items: center;
    justify-content: center; }
.popup-modal .modal-body {
  padding-bottom: 0; }
  .popup-modal .modal-body .form-lienhe {
    padding: 0 30px; }
    .popup-modal .modal-body .form-lienhe .form-control {
      height: 44px;
      border-radius: 2px;
      background: #F7F9FC;
      border-color: #D3D3D3; }
    .popup-modal .modal-body .form-lienhe textarea {
      min-height: 70px; }
.popup-modal .modal-footer {
  border-top: none;
  padding-top: 0;
  padding-right: 40px;
  padding-bottom: 40px; }

.img-lienhe img {
  width: 100%; }

/*==============Section Overview =======================*/
.section-overview .row {
  align-items: center; }
  .section-overview .row .pic-left-overview {
    position: relative;
    padding-top: 90%;
    display: block; }
    .section-overview .row .pic-left-overview img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }

.img-lienhe {
  position: relative;
  padding-top: 90%;
  display: block;
  min-height: 560px; }
  .img-lienhe img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0; }

/*# sourceMappingURL=list-page.css.map */
